.link {
  position: relative;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: #7C7C7C;
  }

  &--medium {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  &--bold {
    font-weight: 700;
    font-size: 18px;
  }

  &--light {
    font-weight: 300;
  }

  &--arrow {
    display: inline-block;
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;

    &:after {
      content: '';
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      background-color: $color-accent;
    }

    &:hover {

      &:after {
        //transform: translateX(10px);

      }
    }
  }

  &--white {
    color: #fff;

    &:after {
      filter: brightness(0) invert(1);
    }
  }

  &--opener {

    &:after {
      content: '';
      display: inline-block;
      margin-left: 10px;
      width: 14px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/static/faq-arrow.svg);
      transition: transform .3s;
    }
  }
}