@font-face {
    font-family: 'Circe';
    src: url("./fonts/Circe/Circe-Regular.eot");
    src: local("Circe"), local("Circe-Regular"), url("./fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Circe/Circe-Regular.woff") format("woff"), url("./fonts/Circe/Circe-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
  src: url("./fonts/Circe/Circe-ExtraLight.eot");
  src: local("Circe ExtraLight"), local("Circe-ExtraLight"), url("./fonts/Circe/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/Circe/Circe-ExtraLight.woff") format("woff"), url("./fonts/Circe/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
    font-family: 'Circe';
  src: url("./fonts/Circe/Circe-Thin.eot");
  src: local("Circe Thin"), local("Circe-Thin"), url("./fonts/Circe/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/Circe/Circe-Thin.woff") format("woff"), url("./fonts/Circe/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'Circe';
  src: url("./fonts/Circe/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("./fonts/Circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Circe/Circe-Light.woff") format("woff"), url("./fonts/Circe/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Circe';
  src: url("./fonts/Circe/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("./fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Circe/Circe-Bold.woff") format("woff"), url("./fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Circe';
  src: url("./fonts/Circe/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("./fonts/Circe/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Circe/Circe-ExtraBold.woff") format("woff"), url("./fonts/Circe/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.case__welcome-bg {
    bottom: auto !important;
}

.case__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-top: 140px;
    position: relative;
    font-weight: 400;
    font-family: 'Circe', sans-serif;
}

.case__page .container {
    padding: 100px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.case__page--fade {
    background-color: #F8FDFF;
}

.case__page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 22px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
    color: #000;
}

.case__page-name {
    margin-left: 165px;
    color: #0074BC;
}

.case__page-desc {
    margin-left: auto;
}

.case__page-line {
    height: 1px;
    width: 253px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 115px 0 75px;
}

.case__page-img {
    position: relative;
}

.case__page-img img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
}

.case__page-back {
    position: absolute;
    bottom: -18px;
    left: 70px;
    z-index: -1;
    height: 414px;
    width: calc(100% - 140px);
    background: rgba(47, 182, 232, 0.4);
    -webkit-filter: blur(87px);
    filter: blur(87px);
}

.case__page-icons-wrapper {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
}

.case__page-text {
    max-width: 600px;
    line-height: 1.2;
    font-size: 24px;
    margin-bottom: 85px;
}

.case__page-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.case__page-icons img {
    max-width: 100%;
}

.case__page-icons > div {
    margin-bottom: 108px;
    padding: 0;
}

.case__page-blue-wrapper {
    background: -webkit-gradient(linear, left top, left bottom, from(#33C0F5), color-stop(65.1%, #0074BC));
    background: linear-gradient(180deg, #33C0F5 0%, #0074BC 65.1%);
}

.case__page-blue-wrapper * {
    color: #fff !important;
}

.case__others {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.case__other {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 530px;
    flex: 0 0 530px;
    max-width: 530px;
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 5px 20px rgba(161, 161, 161, 0.15);
    box-shadow: 0px 5px 20px rgba(161, 161, 161, 0.15);
    border-radius: 5px;
}

.case__other img {
    -o-object-fit: cover;
    object-fit: cover;
}

.case__page--fonts .case__page-img {
    max-width: 1080px;
    padding-top: 85px;
    background-size: cover;
    background-repeat: no-repeat;
}

.case__fonts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 195px;
}

.case__fonts-title, .case__dimension-title-wrapper {
    line-height: 21px;
    font-size: 16px;
    color: #7946A5;
}

.case__fonts-title {
    margin-right: 70px;
}

.case__font-title {
    font-weight: 700;
    line-height: 1;
    font-family: 'Circe', sans-serif;
    font-size: 48px;
    margin-bottom: 30px;
}

.case__font-types {
    line-height: 44px;
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 85px;
}

.case__font-types > div {
    margin-right: 83px;
}

.case__font-types > div:nth-child(1) {
    font-weight: 700;
}

.case__font-types > div:nth-child(2) {
    font-weight: 400;
}

.case__font-types > div:nth-child(3) {
    font-weight: 300;
}

.case__colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.case__color {
    width: 50px;
    height: 50px;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 40px;
}

.case__color:nth-child(1) {
    background: #0074BC;
}

.case__color:nth-child(2) {
    background: #32BBED;
}

.case__color:nth-child(3) {
    background: #98ACB4;
}

.case__color:nth-child(4) {
    background: #fff;
}

.case__grid-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 28px;
}

.case__grid-mac {
    margin: -195px 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-net-img {
    position: relative;
}

.section-net-img img {
    display: block;
    max-width: 100%;
}

.icon-ballon {
    position: absolute;
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-fill-mode: forwards !important;
    animation-fill-mode: forwards !important;
}

.icon-ballon-1 {
    top: 57%;
    left: 32%;
}

.icon-ballon-2 {
    top: 48%;
    left: 11%;
}

.icon-ballon-3 {
    top: 51%;
    left: 44%;
}

.icon-ballon-4 {
    top: 70%;
    left: 94%;
}

.icon-ballon-5 {
    top: 52%;
    left: 20%;
}

.icon-ballon-6 {
    top: 55%;
    left: 14%;
}

.icon-ballon-7 {
    top: 66%;
    left: 2%;
}

.icon-ballon-8 {
    top: 54%;
    left: 8%;
}

.icon-ballon-9 {
    top: 59%;
    left: 1%;
}

.icon-ballon-10 {
    top: 49%;
    left: 18%;
}

.icon-ballon-11 {
    top: 35%;
    left: 19%;
}

.icon-ballon-12 {
    top: 50%;
    left: 29%;
}

.icon-ballon-13 {
    top: 59%;
    left: 90%;
}

.icon-ballon-14 {
    top: 58%;
    left: 38%;
}

.icon-ballon-15 {
    top: 42%;
    left: 14%;
}

.icon-ballon-16 {
    top: 44%;
    left: 17%;
}

@-webkit-keyframes bounceMap {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounceMap {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.section-net-img.visible .icon-ballon-1 {
    -webkit-animation: bounceMap 0.6s 0.5s;
    animation: bounceMap 0.6s 0.5s;
}

.section-net-img.visible .icon-ballon-2 {
    -webkit-animation: bounceMap 0.6s 1.5s;
    animation: bounceMap 0.6s 1.5s;
}

.section-net-img.visible .icon-ballon-3 {
    -webkit-animation: bounceMap 0.6s 2.5s;
    animation: bounceMap 0.6s 2.5s;
}

.section-net-img.visible .icon-ballon-4 {
    -webkit-animation: bounceMap 0.6s 3.5s;
    animation: bounceMap 0.6s 3.5s;
}

.section-net-img.visible .icon-ballon-5 {
    -webkit-animation: bounceMap 0.6s 4.5s;
    animation: bounceMap 0.6s 4.5s;
}

.section-net-img.visible .icon-ballon-6 {
    -webkit-animation: bounceMap 0.6s 5.5s;
    animation: bounceMap 0.6s 5.5s;
}

.section-net-img.visible .icon-ballon-7 {
    -webkit-animation: bounceMap 0.6s 6.5s;
    animation: bounceMap 0.6s 6.5s;
}

.section-net-img.visible .icon-ballon-8 {
    -webkit-animation: bounceMap 0.6s 7.5s;
    animation: bounceMap 0.6s 7.5s;
}

.section-net-img.visible .icon-ballon-9 {
    -webkit-animation: bounceMap 0.6s 8.5s;
    animation: bounceMap 0.6s 8.5s;
}

.section-net-img.visible .icon-ballon-10 {
    -webkit-animation: bounceMap 0.6s 9.5s;
    animation: bounceMap 0.6s 9.5s;
}

.section-net-img.visible .icon-ballon-11 {
    -webkit-animation: bounceMap 0.6s 10.5s;
    animation: bounceMap 0.6s 10.5s;
}

.section-net-img.visible .icon-ballon-12 {
    -webkit-animation: bounceMap 0.6s 11.5s;
    animation: bounceMap 0.6s 11.5s;
}

.section-net-img.visible .icon-ballon-13 {
    -webkit-animation: bounceMap 0.6s 12.5s;
    animation: bounceMap 0.6s 12.5s;
}

.section-net-img.visible .icon-ballon-14 {
    -webkit-animation: bounceMap 0.6s 13.5s;
    animation: bounceMap 0.6s 13.5s;
}

.section-net-img.visible .icon-ballon-15 {
    -webkit-animation: bounceMap 0.6s 14.5s;
    animation: bounceMap 0.6s 14.5s;
}

.section-net-img.visible .icon-ballon-16 {
    -webkit-animation: bounceMap 0.6s 15.5s;
    animation: bounceMap 0.6s 15.5s;
}

.section-net-img.visible .icon-ballon-17 {
    -webkit-animation: bounceMap 0.6s 16.5s;
    animation: bounceMap 0.6s 16.5s;
}

.section-net-img.visible .icon-ballon-18 {
    -webkit-animation: bounceMap 0.6s 17.5s;
    animation: bounceMap 0.6s 17.5s;
}

.section-net-img.visible .icon-ballon-19 {
    -webkit-animation: bounceMap 0.6s 18.5s;
    animation: bounceMap 0.6s 18.5s;
}

.section-net-img.visible .icon-ballon-20 {
    -webkit-animation: bounceMap 0.6s 19.5s;
    animation: bounceMap 0.6s 19.5s;
}
