.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 20;
	padding: 8px 0;
	transition: padding .3s, background-color .3s;
	background-color: #fff;
}

.header__row {
	position: relative;
	z-index: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header__logo {
	flex-shrink: 0;
	transition: opacity .3s;
	font-family: 'Aqua Grotesque';
	line-height: 47px;
	font-size: 27px;
	text-align: right;
	letter-spacing: 0.05em;
}

.header__logo-image,
.header__logo-mobile  {
	max-height: 100%;
	width: auto;
}

.header__logo-mobile {
	display: none;
}

.header__nav {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	-ms-align-items: center;
	align-items: center;
	padding: 30px 0 30px 20px;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	-khtml-justify-content: flex-end;
	justify-content: flex-end;
	margin-right: 35px;
}

.header__nav-link {
	position: relative;
	font-size: 16px;
	font-weight: 500;
	margin-right: 35px;
	flex-shrink: 0;
	color: #000;
	transition: color .3s;
	text-align: right;

	&--menu {

		&:before {
			display: none;
		}

		span {

			&:after {
				@extend .link--opener:after;

				position: absolute;
				right: -20px;
				top: 0;
				width: 11px;
				filter: brightness(0) invert(1);
				transition: filter .3s;
			}
		}

		&:hover {

			.header__nav-drop {
				opacity: 1;
				visibility: visible;
				transform: translate(0);
			}
		}
	}

	&:before {
		content: '';
		width: 100%;
		height: 3px;
		background: #7C7C7C;
		position: absolute;
		bottom: -5px;
		left: 0;
	    transform: scale3d(0, 1, 1);
	    transform-origin: right center;
        transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s, -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s;
	}

	&:hover {

		color: #7C7C7C;

		&:before {
			transform: scale3d(1, 1, 1);
			transform-origin: left center;
		}
	}

	&:last-child {
		margin-right: 0;
	}
}

.header__buttons {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: -3px;
	margin-left: auto;
}

.header__button {
	position: relative;
	flex-shrink: 0;
	margin-right: 25px;
	cursor: pointer;
	transition: visibility .3s, opacity .3s;

	&:last-child {
		margin-right: 0;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		transition: opacity .3s;
	}

	&:before {
		opacity: 0;
	}

	&--close {
		position: absolute;
		left: -50px;
		width: 35px;
		height: 35px;
		-webkit-background-size: 50%;
		background-color: #F2F2F2;
		border-radius: 50%;
		margin-right: 15px;
		visibility: hidden;
		opacity: 0;

		&:after,
		&:before {
			background-image: url(../images/static/closer.svg);
			background-size: 35%;
		}
	}
}
.header__burger {
	display: none;
}














