.footer {
	width: 100vw;
	overflow: hidden;
	transition: all 640ms cubic-bezier(.645,.05,.355,1);
	&--fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 100;
	}
	&--main {
		.footer__copyright {
			display: none;
		}
		&-bottom {
			.footer__copyright {
				display: block;
			}
			.footer__projects {
				display: none;
			}
			.footer__inner {
				padding: 15px 0;
			}
		}
	}
	&--white.hover {
      * {
        color: #fff !important;
      }
    }

}
.footer__inner {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 30px 0;
	position: relative;
	line-height: 1;
}
.-hide-footer .footer {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.-is-menu-open .footer {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.footer__projects, .footer__copyright {
	width: 30%;
	max-width: 350px;
	flex-shrink: 0;
	line-height: 1.5;
}
.footer__projects {
	line-height: 1;
}
.footer__projects-link {
	position: inherit;
	display: inline-block;
	line-height: 1;
}
.footer__projects-anim {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 17px;
	width: 1px;
	background-color: #e3e3e3;

}
@keyframes animInfinity {
	100% {
		transform: translateY(200%);
	}
}
.footer__projects-anim:before {
	content: '';
	width: 1px;
	height: 9px;
	background-color: $color-accent;
	position: absolute;
	top:0;
	left:0;
	animation-name: animInfinity;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.215, .61, .355, 1);
	display: block;
}
.footer__right-block {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.footer__right-block--one {
	justify-content: flex-end;
	text-align: right;
}
.footer__top {
	position: relative;
	background-color: #171717;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 200px;
		background-color: #fff;
		transform: skew(-0.06turn, 18deg);
		left: calc(100% - 80px);
		top: 0;
		bottom: -80px;
	}
}

.footer__link,
.footer__text {
	color: #000;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
}

.footer__link {
	line-height:  1;
	margin-right: 25px;

	&:hover {
		opacity: .8;
	}
}

.footer__cols {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
}

.footer__bottom-row {
	max-width: 1600px;
	margin: 0 auto;
	padding: 30px 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.footer__copy {
	position: relative;
	font-size: 17px;
	font-weight: 100;
	color: #171717;
	letter-spacing: 0.015em;

	&--cake {

		&:after {
			display: inline-block;
			content: '';
			width: 80px;
			height: 15px;
			margin-bottom: -3px;
			margin-left: 10px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../images/static/cake.svg);
		}
	}
}

.footer__cols-contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer__col-soc {
	margin-left: auto;
}
