.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 20;
	padding: 0;
	-webkit-transition: all .4s;
	transition: all .4s;
	/*background-color: #fff;*/

	&.is-hidden {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	&.is-colored {
		background-color: #fff;
		.header__logo a {
			color: #000;
		}
		.header__nav-link {
			color: #000;
		}
		.header__links.is-white .header__nav-link {
			color: #000;
		}
	}
	&--black {
		.header__logo a,
		.header__nav-link,
		.case__welcome-content {
			color: #fff;
		}
		.header__nav-link:hover {
			color: $color-gray;
		}
	}
}

.header__row {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header__logo {
	flex-shrink: 0;
	text-align: right;
	line-height: 1.3;
	a {
		color: #000;
		display: inline-block;
		transition: opacity .3s, color .6s;
		font-family: 'Aqua Grotesque';
		font-size: 25px;
		letter-spacing: 0.05em;
	}
	span {
		display: inline-block;
	}
	&:hover {
		span {
			color: $color-gray;
		}
	}
}

.header .animated-logo, .header .animated-title {
	-webkit-animation-duration: 640ms;
	animation-duration: 640ms;
}
.header .animated-word:nth-child(1) {
	animation-delay: 0s;
	animation-duration: 640ms;
}
.header .animated-word:nth-child(2) {
	animation-delay: 160ms;
	animation-duration: 640ms;
}
.header .animated-word:nth-child(3) {
	animation-delay: 320ms;
	animation-duration: 640ms;
}
.header .animated-word:nth-child(4) {
	animation-delay: 640ms;
	animation-duration: 640ms;
}
.header__links {
	display: flex;
	align-items: center;
	&.is-white {
		.header__nav-link {
			color: #fff;
		}
	}
}
.header__nav {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	padding: 26px 0 26px 20px;
	justify-content: flex-end;
	margin-right: 35px;
}



.header__nav-link {
	position: relative;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	margin-right: 35px;
	flex-shrink: 0;
	color: #000;
	text-align: right;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.25s ease-in, opacity 0.5s, color .3s;
	/*&--menu {

		&:before {
			display: none;
		}

		span {

			&:after {
				@extend .link--opener:after;

				position: absolute;
				right: -20px;
				top: 0;
				width: 11px;
				filter: brightness(0) invert(1);
				transition: filter .3s;
			}
		}

		&:hover {

			.header__nav-drop {
				opacity: 1;
				visibility: visible;
				transform: translate(0);
			}
		}
	}*/

	/*&:before {
		content: '';
		width: 100%;
		height: 3px;
		background: #7C7C7C;
		position: absolute;
		bottom: -5px;
		left: 0;
	    transform: scale3d(0, 1, 1);
	    transform-origin: right center;
        transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s, -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s;
	}*/

	/*&:hover {

		&:before {
			transform: scale3d(1, 1, 1);
			transform-origin: left center;
		}
	}*/

	&:last-child {
		margin-right: 0;
	}

	&:nth-child(1) {
		transition-delay: 0.45s;
		transition-duration: 0.125s;
	}
	&:nth-child(2) {
		transition-delay: 0.4s;
		transition-duration: 0.15s;
	}
	&:nth-child(3) {
		transition-delay: 0.35s;
		transition-duration: 0.175s;
	}
	&:nth-child(4) {
		transition-delay: 0.3s;
		transition-duration: 0.2s;
	}
	&:nth-child(5) {
		transition-delay: 0.4s;
		transition-duration: 0.15s;
	}
	&:nth-child(6) {
		transition-delay: 0.4s;
		transition-duration: 0.15s;
	}
}
.header__row.is-opened .header__nav a, .header.visible .header__nav a {
	opacity: 1;
	transform: translateY(0);
	transition: transform 0.5s, opacity 0.4s;

	&:nth-child(1) {
		transition-delay: 0.15s;
		transition-duration: 0.25s;
	}
	&:nth-child(2) {
		transition-delay: 0.2s;
		transition-duration: 0.3s;
	}
	&:nth-child(3) {
		transition-delay: 0.25s;
		transition-duration: 0.35s;
	}
	&:nth-child(4) {
		transition-delay: 0.3s;
		transition-duration: 0.4s;
	}
	&:nth-child(5) {
		transition-delay: 0.35s;
		transition-duration: 0.45s;
	}
	&:nth-child(6) {
		transition-delay: 0.40s;
		transition-duration: 0.45s;
	}
}
.header__row.is-opened .header__phone a, .header.visible .header__phone a {
	opacity: 1;
	transform: translateY(0);
	transition: transform 0.5s, opacity 0.4s;

	&:nth-child(1) {
		transition-delay: 0.45s;
		transition-duration: 0.50s;
	}
}
.header__row.is-opened .header__nav a {
	color: #fff;
}
.header__buttons {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: -3px;
	margin-left: auto;
}

.header__button {
	position: relative;
	flex-shrink: 0;
	cursor: pointer;
	transition: visibility .3s, opacity .3s;
	pointer-events: stroke;

	&:last-child {
		margin-right: 0;
	}

	&:before {
		opacity: 0;
	}

	&--close {
		position: absolute;
		left: -50px;
		width: 35px;
		height: 35px;
		-webkit-background-size: 50%;
		background-color: #F2F2F2;
		border-radius: 50%;
		margin-right: 15px;
		visibility: hidden;
		opacity: 0;

		&:after,
		&:before {
			background-image: url(../images/static/closer.svg);
			background-size: 35%;
		}
	}
}
.header__burger, .header__socials, .header__download, .header__copyright {
	display: none;
}














