/* popup */
.popup {
  position: fixed;
  display: none;
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow-y: scroll;
  z-index: 10;
  align-items: center;
  justify-content: center;

  &.is-active {
    opacity: 1;
    visibility: visible;

  }
  .popup__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 100px 0;
  }
  .popup__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
  }
  .popup__container {
    position: relative;
    background-color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    padding: 50px 60px;
    box-sizing: border-box;
    max-width: 850px;
  }

  .popup__closer {
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    display: block;
    top: 30px;
    right: 30px;
    cursor: pointer;
    &:before, &:after {
      display: block;
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #858585;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
    &:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:hover:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:hover:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:hover:before, &:hover:after {
      background-color: #9D9D9D;
    }
  }
  .popup__form {
    margin-top: 45px;
    padding: 0 90px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .popup__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  .popup__text {
    display: none;
    padding: 0 40px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
  }
  .popup__result {
    width: 100%;
    height: calc(100% - 87px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
}