@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Ubuntu:400,700&subset=cyrillic');

.case__container {
    font-family: 'Open Sans', sans-serif;
}
.case__content {
    width: 100%;
    margin-bottom: 20px;
}
.case__content--index {
    text-align: center;
}
.case__index-title {
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    margin-bottom: 10px;
}
.case__index-desc {
    font-weight: 300;
    font-style: italic;
    color: #A6A6A6;
    font-size: 18px;
}
.case__index-bg img {
    display: block;
    margin: 0 -70px 0 auto;
}
.case__inner-wraper {
    background-color: #F8F9FE;
    margin-top: -1066px;
    padding-top: 1214px;
    padding-bottom: 40px;
}
.case__pages-in {
    position: relative;
    overflow-x: hidden;
    min-height: 1890px;
    max-width: 1920px;
    margin-top: -50px;
    z-index: 2;
}
.case__page-in {
    position: absolute;
}
.case__page1-in {
    top: 0;
    right: 0;
}
.case__page2-in {
    top: 211px;
    left: 185px;
}
.case__page3-in {
    top: 448px;
    left: 639px;
}
.case__page4-in {
    right: 0;
    top: 745px;
}
.case__page5-in {
    top: 567px;
    left: 0;
}
.case__page6-in {
    top: 1190px;
    right: 0;
}
.case__content--calc {
    margin-top: -430px;
}
.case__calc-bg {
    margin-bottom: 30px;
}
.case__main-slider {
    padding: 70px 0;
}
.case__content--slider {
    margin-bottom: 30px;
}
.case__register {
    background-color: #F8F9FE;
    padding: 70px 0;
}
.case__register-images {
    display: flex;
    flex-flow: row wrap;
}
.case__register-img {
    flex: 0 0 48%;
    max-width: 48%;
}
.case_lk, .case__color-schema, .case__fonts-wrapper {
    padding: 70px 0 0;
}
.case__content--color {
    margin-bottom: 55px;
}
.case__colors {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.case__color-wrapper {
    flex: 0 0 23%;
    max-width: 23%;
    display: flex;
    flex-flow: column nowrap;
}
.case__color {
    border-radius: 0 100px 0 0;
    width: 100%;
    max-width: 252px;
    height: 110px;
    margin-bottom: 25px;
}
.case__color1 {
    background: linear-gradient(90deg, #CCD963 0%, #43A46B 100%);
}
.case__color2 {
    background: #9BC53D;
}
.case__color3 {
    background: #97A4B1;
}
.case__color4 {
    background: #000000;
}
.case__color-title {
    font-style: italic;
    font-weight: 300;
    line-height: 37px;
    font-size: 18px;
    letter-spacing: 0.01em;
}
.case__fonts {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}
.case__font {
    flex: 0 0 50%;
    max-width: 470px;
    color: #1F1F1F;
    display: flex;
    flex-flow: row nowrap;
}
.case__font--ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
.case__font-ubuntu .case__font-title {
    letter-spacing: 0.01em;
}

.case__font:nth-child(1) {
    margin-right: 20px;
}
.case__font--letter {
    font-weight: 300;
    line-height: 1;
    font-size: 144px;
    background: linear-gradient(90deg, #CCD963 0%, #43A46B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #CCD963;
    margin-right: 70px;
}
.case__font--title-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.case__font-title {
    font-weight: 300;
    line-height: 1;
    font-size: 48px;
    margin-bottom: 15px;
}
.case__font-names {
    display: flex;
    flex-flow: row nowrap;
}
.case__font-name {
    line-height: 49px;
    font-size: 24px;
}
.case__font-name:nth-child(1) {
    margin-right: 53px;
}
.case__font-name:nth-child(2) {
    font-weight: bold;
}
.case__ui {
    background: linear-gradient(0deg, #CCD963 0%, #43A46B 100%);
}
.case__ui-grid {
    background: url(./images/content/grid.png) top center no-repeat;
}
.case__content--ui, .case__content--design {
    color: #fff;
    padding-top: 95px;

}
.case__content--ui .case__index-desc,
.case__content--design .case__index-desc {
    color: #fff;
}
.case__content-ui-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.case__content-ui-text {
    font-weight: bold;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;

}
.case__pages--mobile {
    overflow: hidden;
}
.case__page {
    display: flex;
    align-items: center;
}
.case__page--width0 {
    width: 100%;
}
.case__page--width1 {
    width: 41.6666%;
}
.case__page--width2 {
    width: 33.33333%;
}
.case__page--width3 {
    width: 25%;
}
.case__page-image {
    margin: 0 auto;
}
.case__page-img {
    margin: 0 -18px;
}
.grid-item {

    width: 80px;
    height: 60px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}
.gutter-sizer {
    width: 4.2%;
}
.grid-sizer {
    width: 8.33333%;
}
.case__content--design {
    padding-bottom: 80px;
}
.case__mobile-bg {
    position: relative;
    height: 787px;
}
.case__mobile-bg img {
    position: absolute;
    margin-top: -150px;
}
