@import url("https://fonts.googleapis.com/css?family=Roboto:400&subset=cyrillic");

.case__container {
    position: unset !important;
}

.case__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2b176d;
    background: -webkit-gradient(linear, left top, left bottom, from(#2b176d), to(#621896));
    background: linear-gradient(to bottom, #2b176d 0%, #621896 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b176d', endColorstr='#621896',GradientType=0 );
    z-index: -1;
}

.case__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-top: 140px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.case__page {
    margin-bottom: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.case__page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 22px;
    margin-bottom: 40px;
}

.case__page-num, .case__page-name {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    line-height: 18px;
}

.case__page-line {
    height: 1px;
    width: 253px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 115px 0 75px;
}

.case__page-img img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 10px;
}

.case__page--main .case__page-img img,
.case__page--projects .case__page-img img {
    -webkit-box-shadow: 0 20px 90px rgba(160, 76, 130, 0.5);
    box-shadow: 0 20px 90px rgba(160, 76, 130, 0.5);
}

.case__page--services .case__page-img img {
    -webkit-box-shadow: 0px 20px 90px rgba(20, 103, 185, 0.5);
    box-shadow: 0px 20px 90px rgba(20, 103, 185, 0.5);
}

.case__page--about .case__page-img img {
    -webkit-box-shadow: 0 20px 90px rgba(40, 130, 167, 0.5);
    box-shadow: 0 20px 90px rgba(40, 130, 167, 0.5);
}

.case__page--clients .case__page-img img {
    -webkit-box-shadow: 0px 20px 90px rgba(61, 178, 163, 0.5);
    box-shadow: 0px 20px 90px rgba(61, 178, 163, 0.5);
}

.case__page--team .case__page-img img {
    -webkit-box-shadow: 0px 20px 90px rgba(21, 97, 181, 0.5);
    box-shadow: 0px 20px 90px rgba(21, 97, 181, 0.5);
}

.case__page--contacts .case__page-img img {
    -webkit-box-shadow: 0px 20px 90px rgba(23, 95, 180, 0.5);
    box-shadow: 0px 20px 90px rgba(23, 95, 180, 0.5);
}

.case__page--fonts .case__page-img {
    max-width: 1080px;
    padding-top: 85px;
    background-size: cover;
    background-repeat: no-repeat;
}

.case__fonts-title, .case__dimension-title-wrapper {
    line-height: 21px;
    font-size: 16px;
    color: #7946A5;
}

.case__fonts-wrapper {
    color: #fff;
}

.case__font-title {
    font-weight: 500;
    line-height: 26px;
    font-size: 20px;
    margin-bottom: 30px;
}

.case__font-types {
    line-height: 26px;
    font-size: 14px;
}

.case__colors-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0;
}

.case__color {
    color: #fff;
    width: 92px;
    padding: 0 12px;
    text-align: center;
    margin-bottom: 28px;
}

.case__color-icon {
    width: 24px;
    height: 28px;
    margin: 0 auto 17px;
}

.case__color-name {
    font-size: 14px;
    line-height: 18px;
}

.case__grids {
    position: relative;
    height: 600px;
    margin-top: 55px;
}

.case__grid {
    position: absolute;
    bottom: 0;
    left: 0;
}

.case__grid-1080 .case__grid-container {
    height: 600px;
}

.case__grid-712 .case__grid-container {
    height: 395px;
}

.case__grid-344 .case__grid-container {
    height: 191px;
}

.case__dimension-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}

.case__grid-container {
    border: 1px solid #7946A5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.case__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 115px;
}

.case__elem-2 {
    margin-top: 115px;
}

.case__elem-image {
    margin: 0 auto;
}

.case__elem-img {
    margin: 0 -18px;
}

.grid-item {
    width: 80px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.gutter-sizer {
    width: 4.2%;
}

/*.grid-sizer {
    width: 8.33333%;
}*/
