footer.footer
    div.container
        div.footer__inner
            a.footer__projects(href='projects.html') Смотреть проекты
            div.footer__links
                a.footer__link(href='https://facebook.com') Facebook
                a.footer__link(href='https://facebook.com') Behance
            a.footer__download(href='assets/files/presentation.pdf') Скачать презентацию