footer.footer
    div.container
        div.footer__inner
            div.footer__copyright
                | ©Deus. 2018 <br/>
                | Made in Russia with Love.

            a.footer__download(href='assets/files/presentation.pdf')