footer.footer
    div.container
        div.footer__inner
            a.footer__projects.link(href='projects.html') Смотреть проекты
            div.welcome__right-block.footer__right-block
                div.footer__links
                    a.footer__link(href='https://facebook.com') Facebook
                    a.footer__link(href='https://facebook.com') Behance
                a.footer__download.link(href='assets/files/presentation.pdf') Скачать презентацию