footer.footer
    div.container
        div.footer__inner
            div.footer__copyright
                | ©Deus. 2018 <br/>
                | Made in Russia with Love.
            div.welcome__right-block.footer__right-block--one
                a.link.footer__download(href='assets/files/presentation.pdf') Скачать презентацию