header.header.header--scrolling
    div.container
        div.header__row
            a.header__logo.link(href='_index.html') deus
            nav.header__nav
                a.link.header__nav-link(href='works.html') Кейсы
                a.link.header__nav-link(href='about.html') О нас
                a.link.header__nav-link(href='services.html') Услуги
                a.link.header__nav-link(href='contacts.html') Контакты
            div.header__phone.header__button
                a.link.header__nav-link(href='tel:+74951034351') +7 495 103 43 51
            div.header__buttons
                div.header__burger
                    div.header__burger-bar
                    div.header__burger-bar
                    div.header__burger-bar
div.preloader
    span.spinner