header.header.header--scrolling
    div.container
        div.header__row
            a.header__logo.link(href='_index.html') deus
            nav.header__nav
                ul
                    li: a(href='#') Кейсы
                    li: a(href='#') О нас
                    li: a(href='#') Услуги
                    li: a(href='#') Контакты
            div.header__phone
                a(href='tel:+74951034351') +7 495 103 43 51
            div.header__buttons
                div.header__burger
                    div.header__burger-bar
                    div.header__burger-bar
                    div.header__burger-bar
div.preloader
    span.spinner