extends layout

block title
	title

block header
	include blocks/header

block content
	div.about
		section.s-section.s-section--about
			div.container
				aside.sideblock
					h4.about__text Мы - это интерактивное агентство, которое разрабатывает персональные решения для коммуникации бренда в Интернете.
				div.content-wrapper
					div.about__text
						| Мы уверены, что проекты делают не компании, а люди. Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
						| Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых
						| и государственных учреждений.
						| <br/><br/>
						| Мы уверены, что проекты делают не компании, а люди. Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
						| Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых
						| и государственных учреждений.
					div.about__digits
						div.about__digit-item
							div.about__digit.odometer 40
							div.about__digit-text Место рейтинг креативности веб-студий Москвы
						div.about__digit-item
							div.about__digit.odometer 80
							div.about__digit-text Место рейтинг разработчиков Mobile Friendly сайтов
						div.about__digit-item
							div.about__digit.odometer 39
							div.about__digit-text Выполненных проектов
						div.about__digit-item
							div.about__digit.odometer 2
							div.about__digit-text Офис в Москве и Екатеринбурге
		section.s-section.s-section--honors
			div.container
				aside.sideblock
					h2.s__caption Награды
					div.s__describe Наша работа не остается
						| не замеченной. За 3 года
						| мы собрали большую коллекцию международных наград.&nbsp;
						span.color-green.bold Awwwards,
						span.color-blue.bold CSS Design Awards,
						span.color-red.bold CSS Winner...
					div.s-section__nav.s-arrows
				div.content-wrapper
					div.h-slider
						div.h-slider__scene.owl-carousel
							div.h-slider__slide
								div.h-slider__card
									div.h-card
										div.h-card__image-wrapper
											a(href="#").h-card__link
												div.h-card__title Honors Mension
												img(src='assets/images/content/honor1.png').h-card__image
										a(href="#").color-green.h-card__title.h-card__title--bg Honors Mension
							div.h-slider__slide
								div.h-slider__card
									div.h-card
										div.h-card__image-wrapper
											a(href="#").h-card__link
												div.h-card__title Special Kusos
												img(src='assets/images/content/honor2.png').h-card__image
										a(href="#").color-blue.h-card__title.h-card__title--bg Special Kusos
							div.h-slider__slide
								div.h-slider__card
									div.h-card
										div.h-card__image-wrapper
											a(href="#").h-card__link
												div.h-card__title Special Kusos
												img(src='assets/images/content/honor2.png').h-card__image
										a(href="#").color-red.h-card__title.h-card__title--bg Special Kusos


		section.s-section.s-section--services
			div.container
				aside.sideblock
					h2.s__caption Услуги
					div.s__describe Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений
				div.content-wrapper
					div.serv-list
						div.serv-item
							h3.serv-item__title Дизайн
							p.serv__item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов
						div.serv-item
							h3.serv-item__title Разработка
							p.serv__item__text Backend и Frontend разработка интернет-проектов любой сложности на платформе 1С-Битрикс
						div.serv-item
							h3.serv-item__title Support
							p.serv__item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Маркетинг
							p.serv__item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Дизайн
							p.serv__item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Разработка
							p.serv__item__text Backend и Frontend разработка интернет-проектов любой сложности на платформе 1С-Битрикс и решений для электронной коммерции
		section.s-section.s-section--clients
			div.container
				aside.sideblock
					h2.s__caption Клиенты
					div.s__describe Мы помогаем находить идей, в которые верим без сомнения. Честные отношения с клиентом помогают нам в этом.
				div.content-wrapper
					div.clients-slider
						div.c-slider__scene.owl-carousel
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients1.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients2.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients3.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients4.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients5.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients6.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients7.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients8.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients9.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients10.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients11.png").clients-item__img
							div.c-slider__slide
								div.clients-item
									a.clients-item__link
										img(src="assets/images/content/clients12.png").clients-item__img
		section.s-section.s-section--form
			div.container
				aside.sideblock
					h2.s__caption Готовы сотрудничать?
					div.s__describe Мы будем рады приложить все имеющиеся навыки и знания для комплексного создания и успешного развития вашего проекта или стартапа.
				div.content-wrapper
					div.c-form
						form.c-form__form#callback
							div.c-form__line
								input(type="text" placeholder='E-mail' name='mail').c-form__input.c-form__input--half.validate__EMAIL
								input(type="text" placeholder='Телефон' name='phone').c-form__input.c-form__input--half.phone.validate__PHONE
							div.c-form__line
								input(type="text" placeholder='Имя' name='name').c-form__input.validate__NAME
							div.c-form__line
								textarea(placeholder='Что бы вы хотели?' name='placeholder').c-form__textarea
							div.c-form__bottom
								div.c-form__bottom-half
									input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
									label(for="check_2").c-form__label Согласен на обработку персональных данных
								div.c-form__link
									button(type='submit').link.link--bold.link--arrow Отправить


block footer
	include blocks/footer
