extends layout

block title
    title

block header
    include blocks/header

block content
    div.container
        div.welcome.contacts-page
            div.contact-list
                div.contact__item
                    a(href="#").link.link--arrow.contact__name Поздороваться
                    div.contact__text Если у Вас есть интересный проект, или необходимо консультация напишите
                    div.contact__links
                        a(href="#").link.contact__link
                            | info
                            span.color-blue @
                            | de-us.ru
                div.contact__item
                    a(href="#").link.link--arrow.contact__name Следите
                    div.contact__text Быть в курсе о наших новых работах. Поддержите лайком! :)
                    div.contact__links
                        a(href="#").link.contact__link Facebook
                        a(href="#").link.contact__link Behance
                div.contact__item
                    a(href="#").link.link--arrow.contact__name Заскочи в офис
                    div.contact__text Если у Вас есть интересный проект, или необходимо консультация напишите
                    div.contact__links
                        a(href="tel:#").link.contact__link +7 495 103 43 51

block footer
    include blocks/footer
