@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=cyrillic");

@font-face {
    font-family: 'GothamPro';
  src: url("./fonts/GothamPro/GothamPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
  src: url("./fonts/GothamPro/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
  src: url("./fonts/GothamPro/GothamPro-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.case__index-wrapper {
    position: relative;
    margin-top: 70px;
}

.case__index-bg {
    background: url(/portfolio/sola/images/content/lines_bg.svg) #97A4B1 center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.case__index-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.case__index-arrow:before, .case__index-arrow:after {
    content: '';
    display: block;
    width: 3px;
    height: 71px;
    position: absolute;
}

.case__index-arrow:before {
    top: -71px;
    background-color: #97A4B1;
}

.case__index-arrow:after {
    background-color: #fff;
}

.case__index-title {
    padding: 126px 0 0;
    font-family: GothamPro, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.case__index__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.case__index__img {
    margin: -36px;
}

.case__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.case__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 180px;
}

.case__page-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    max-width: 350px;
    padding-left: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.case__page-text-news {
    padding: 0 50px;
    text-align: center;
}

.case__page-reverse .case__page-text {
    padding-left: 0;
    padding-right: 95px;
}

.case__page-reverse .case__page-text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.case__page-reverse .case__page-img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.case__page-reverse .case__page-img img {
    margin-right: auto;
}

.case__page-title {
    font-family: GothamPro, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.75;
    margin-bottom: 12px;
    color: #000;
}

.case__page-desc {
    color: #97A4B1;
    font-family: GothamPro, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
}

.case__page-img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: -36px;
}

.case__page-img img {
    margin-left: auto;
}

.case__page-img-news {
    margin: -18px;
}

.case__page-img--two {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.case__team-wrapper {
    position: relative;
    margin-top: 110px;
    z-index: 1;
}

.case__team-bg {
    background-color: #F7901A;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.case__team-arrow {
    position: absolute;
    top: -256px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url(/portfolio/sola/images/content/lines_team-bg.svg) center no-repeat;
    height: 500px;
    width: 100%;
}

.case__team-arrow:before, .case__team-arrow:after {
    content: '';
    display: block;
    width: 3px;
    height: 71px;
    position: absolute;
    left: 50%;
}

.case__team-arrow:before {
    top: 185px;
    background-color: #F7901A;
}

.case__team-arrow:after {
    top: 256px;
    background-color: #fff;
}

.case__team-title {
    padding: 126px 0 0;
    font-family: GothamPro, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.case__team__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -36px -28px;
}

.case__team-bg-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.case__team-bg-img img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.case__adaptive-wrapper {
    position: relative;
    margin-top: 110px;
}

.case__adaptive-bg {
    background-color: #97A4B1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.case__adaptive-arrow {
    position: absolute;
    top: -256px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url(/portfolio/sola/images/content/lines_team-bg.svg) center no-repeat;
    height: 500px;
    width: 100%;
}

.case__adaptive-arrow:before, .case__adaptive-arrow:after {
    content: '';
    display: block;
    width: 3px;
    height: 71px;
    position: absolute;
    left: 50%;
}

.case__adaptive-arrow:before {
    top: 185px;
    background-color: #97A4B1;
}

.case__adaptive-arrow:after {
    top: 256px;
    background-color: #fff;
}

.case__adaptive-title {
    padding: 126px 0 0;
    font-family: GothamPro, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.case__adaptive__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.case__adaptive__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.case__adaptive__img {
    margin: 0 -28px;
}

.case__adaptive-bg-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.case__adaptive-bg-img img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.case__color-fonts {
    margin-top: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.case__colors {
    margin-right: 110px;
}

.case__colors-title, .case__fonts-title, .case__dimensions-title {
    color: #24292F;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 700;
}

.case__colors-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.case__color {
    margin-right: 90px;
}

.case__color-img {
    width: 85px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 16px;
}

.case__color1 .case__color-img {
    background-color: #F7901A;
}

.case__color2 .case__color-img {
    background-color: #6a707f;
}

.case__color3 .case__color-img {
    background-color: #24292f;
}

.case__color-title {
    font-size: 12px;
    text-align: center;
}

.case__color1 .case__color-title {
    color: #F7901A;
}

.case__color2 .case__color-title {
    color: #6A707F;
}

.case__color3 .case__color-title {
    color: #24292f;
}

.case__fonts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.case__font--ubuntu {
    margin-right: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.case__font--gotham {
    font-family: "GothamPro", sans-serif;
}

.case__font-name {
    font-size: 24px;
    margin-bottom: 24px;
}

.case__font-types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.case__font-type {
    margin-right: 25px;
}

.case__font-type--m {
    font-weight: 500;
}

.case__font-type--b {
    font-weight: 700;
}

.case__dimensions {
    width: 100%;
    margin: 90px 0;
}

.case__dimensions-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.case__dimension {
    margin-bottom: 30px;
}

.case__dimension-title-wrapper {
    margin-bottom: 7px;
    font-size: 16px;
    font-family: "GothamPro", sans-serif;
    line-height: 1;
    color: #97A4B1;
}

.case__dimension-dpi {
    text-align: right;
    margin-top: 15px;
}

.case__dimension-title {
    margin-bottom: 15px;
}

.case__dimension-line {
    height: 2px;
    background-color: #F5F5F5;
    position: relative;
}

.case__dimension-line:before {
    left: -3px;
}

.case__dimension-line:after {
    right: -3px;
}

.case__dimension-line:after, .case__dimension-line:before {
    content: '';
    width: 7px;
    height: 7px;
    background: #F7901A;
    border-radius: 50%;
    position: absolute;
    top: -3px;
}

.case__bg {
    padding: 95px 0 65px;
    background-color: #F7901A;
}
