.c-form {
  padding-bottom: 30px;

  &--grey {

    .c-form__input,
    .c-form__textarea,
    .c-form__label:before {
      background-color: #F5F5F5;
    }
  }
}

.c-form__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.c-form__form.visible .c-form__line,
.c-form__form.visible .c-form__link {
  transform: translate(0, 0);
  opacity: 1;
}
.c-form__line:nth-child(1) {
  transition-delay: 40ms;
}
.c-form__line:nth-child(2) {
  transition-delay: 80ms;
}
.c-form__line:nth-child(3) {
  transition-delay: 120ms;
}
.c-form__line:nth-child(4) {
  transition-delay: 160ms;
}
.c-form__line:nth-child(5) {
  transition-delay: 200ms;
}
.c-form__input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
  width: 100%;
  &--half {
    width: calc(50% - 24px);
  }
}
.c-form__input-field {
  transition: border-color .3s;
  position: relative;
  display: block;
  font-weight: 500;
  float: right;
  font-size: 16px;
  line-height: 26px;
  padding: 0.8em 0 0.5em;
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 0;
  color: #000;
  letter-spacing: .4px;
  -webkit-appearance: none;



  &.input-error {
    border-color: red;
  }
}


.c-form__input.is-full .c-form__input-label:after,
.c-form__input.is-full .dz-message:after {
  background: $color-accent;
}

.c-form__input-label {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  text-align: left;
  cursor: text;
  display: inline-block;
  float: right;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;

  &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #bababa;
      bottom: 0;
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
  }

  &--error {
    &:after {
      background: red !important;
    }
  }
}

.c-form__input-label-content {
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  vertical-align: bottom;
  transform-origin: 0 0;
  transform: translate3d(0, 13px, 0);
  transition: transform 0.3s;
  color: $color-gray;
}
.c-form__input-field:focus + .c-form__input-label .c-form__input-label-content,
.c-form__input.is-full .c-form__input-label-content {
  -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(0, -10px, 0) scale3d(0.8, 0.8, 1);
}
.c-form__textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 17px;
  font-weight: 100;
  color: #171717;
  height: 125px;
  padding: 15px 25px;
  background-color: #fff;
  //border: 1px solid #bababa;
}

.c-form__input-file {
  //border-bottom: 1px solid #bababa;
}

.c-form__bottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .link {
    font-size: 13px;
  }
}

.c-form__link {
  opacity: 0;
  transform: translate(0,100%);
  transition: all 600ms ease-in-out;
  animation: fadeIn 600ms ease-in-out;
  &:active, &:focus {
    transform: scale(0.95);
    transition: none ease-in-out;
  }
  &--custom {
    position: absolute;
    right: 50px;
    bottom: 37px;
    font-size: 13px;
  }
}

.c-form__checkbox-label {
  position: relative;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.015em;
  line-height: 24px;
  display: block;
  padding-left: 40px;
  cursor: pointer;
  color: #171717;
  transition: color .3s;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
  }

  &:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 8px;
    width: 0;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/static/mark.svg);
    transition: width .3s;
  }
}

.c-form__checkbox {
  visibility: hidden;
  position: absolute;
  z-index: -10;

  &:checked {

    & + .c-form__label,
    & + span + .c-form__label {

      &:after {
        width: 14px;
      }
    }
  }

  &.input-error {

    & + .c-form__label,
    & + span + .c-form__label {
      color: red;
    }
  }
}
.c-form__error {
  display: none;
  color: red;
}
