@mixin element-color($color) {
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 1L1 12.5L12.5 24" stroke="#{$color}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.s-arrows {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100px;

  &--c-slider {
    margin-left: auto;
    margin-top: 40px;
  }
}

.s-arrows__arrow {
  width: 16px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: transform .3s;
  @include element-color(#000);

  &--prev {

    &:hover {
      @include element-color($color-accent);
    }

  }

  &--next {
    //background-image: url(../images/static/arr-right.svg);
    transform: rotate(180deg);

    &:hover {
      @include element-color($color-accent);
    }
  }
}