.about {
  padding-top: 100px;
}
.s-section .container {
  display: flex;
  width: 100%;

}
aside.sideblock {
  flex-shrink: 0;
  width: 290px;
  margin-right: 70px;
}
.content-wrapper {
  width: calc(100% - 360px);
}
.s__caption {
  margin-bottom: 55px;
}
.s__describe {
  color: $color-gray;
  font-size: 18px;
  line-height: 24px;
}
.about__text {
  margin: 0;
}
.about__digits {
  margin-top: 45px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.about__digit-item {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 35px;
}
.about__digit {
  margin-right: 18px;
  font-size: 40px;
  line-height: 40px;
  flex: 0 0 55px;
  max-width: 55px;
  text-align: right;
  font-weight: 700;
  color: $color-accent;

}
.about__digit-text {
  max-width: 220px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.h-section__caption {

}
.h-slider__scene.owl-carousel .owl-item img {
  width: auto;
}
.h-card {
  position: relative;
  margin-left: 25px;
}
.h-card__image-wrapper {
  display: flex;
  justify-content: flex-end;

}
.h-card__link {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.h-card__title {
  position: absolute;
  top: 47px;
  left: 0;
  font-size: 2.25rem;
  line-height: 36px;
  color: #fff;
  width: 100%;
  text-decoration-line: underline;
  font-weight: 700;
  max-width: 252px;
  z-index: 0;
}