.welcome {
	height: calc(100vh - 184px);
	position: relative;
	display: flex;
	flex-flow: row nowrap;
}
.welcome__bg {
	background-size: cover;
	background-position: center 20%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-attachment: fixed;
}
.welcome__filter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0;
	-webkit-transition: all .05s;
	transition: all .05s;
}
.welcome__video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
}
.welcome__inner-wrapper {
	max-width: 350px;
	width: 30%;
	height: 100%;
	flex-shrink: 0;
}
.welcome__inner {
	position: absolute;
	z-index: 10;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

}
.welcome__text {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	margin: 0 0 40px 0;
}
.welcome__header-p {
	color: #7C7C7C;
	font-size: 22px;
	line-height: 31px;
	margin-bottom: 35px;
}
.welcome__btn {
	width: 240px;
}
.welcome__arrow_icon {
	margin-left: 13px;
	width: 10px;
	height: 18px;
	margin-top: -2px;
	display: inline-block;
	vertical-align: middle;
}
.welcome__right-block {
	width: 70%;
	position: relative;
}
.index__right-block {
	overflow: hidden;
}