//default settings

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  //margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  // appearance: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0;
}
body {
  font-family: 'Geometria';
  font-size: 16px;
  line-height: 26px;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  &.-loading {
    overflow: hidden
  }
}

.page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}

.-custom-scroll .page {
  height: 100vh;
  overflow: hidden;
}

@keyframes loaderAnimation {
  0% {
    width: 0
  }
  25% {
    width: 20vw
  }
  50% {
    width: 60vw
  }
  75% {
    width: 70vw
  }
  100% {
    width: 80vw
  }
}

@-webkit-keyframes loaderAnimation {
  0% {
    width: 0
  }
  25% {
    width: 20vw
  }
  50% {
    width: 60vw
  }
  75% {
    width: 70vw
  }
  100% {
    width: 80vw
  }
}

.preloader {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  transition: all 640ms
}

.-loading .preloader {
  opacity: 1;
  visibility: visible
}

.preloader__container {
  position: relative;
  font-size: 1.5em
}

.preloader__line {
  content: '';
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: $color-accent;
  top: 0;
  opacity: 1;
  transition: all 640ms cubic-bezier(.645, .05, .355, 1)
}

.preloader__line.-loading {
  width: 80vw;
  -webkit-animation: loaderAnimation 6.4s 1 ease-in-out;
  animation: loaderAnimation 6.4s 1 ease-in-out
}

.content {
  padding-top: 68px;
  opacity: 1;
  transition: all 640ms
}
.content--case {
  padding-top: 0 !important;
}
.-loading .content {
  opacity: 0;
}
.footer {
  margin-top: auto;
}

a,
button {
  transition: opacity .3s, color .3s, border-color .3s, background-color .3s;
}

.container {
  position: relative;
  max-width: 1224px;
  width: 100%;
  //height: 100%;
  margin: 0 auto;
  padding: 0 70px;
}

.bold {
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
h2 {
  position: relative;
  top: -14px;
  margin-bottom: -14px;
  display: inline-block;
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
  color: #000;

  &:after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: $color-accent;
  }

  &:hover {

    &:after {
      //transform: translateX(10px);

    }
  }
}
p {
  font-size: 16px;
  line-height: 26px;
}

span.input-error {
  display: none !important;
}

hr {
  margin-left: -100px;
  margin-right: -100px;
  border: none;
  border-top: 1px solid #F2F2F2;
}

img {
  max-width: 100%;
  height: auto;
}

.is-unscrolled {
  overflow: hidden;
}

.tmp_json {
  display: none;
}

.flip-horizontal {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.color-green {
  color: #31979A !important;
}
.color-blue {
  color: #5958A3 !important;
}
.color-red {
  color: #E8625E !important;
}
.scroll-content {
  -webkit-transform: unset !important;
  transform: unset !important;
}
.tablebodytext {
  display: none !important;
}