.btn {
  display: inline-block;
  font-family: 'Geometria', 'sans-serif';
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 22px 30px;
  background-color: $color-accent;
  border-width: 0;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 255, 0.25);
  border-radius: 112px;
  -webkit-appearance: none;
  cursor: pointer;
  transition: box-shadow 600ms ease-in-out;

  &:hover {
    box-shadow: none;
  }
  &--arrow {
    &:hover {
      .arrow_icon {
        transform: translateX(5px);
      }
    }
    &:focus, &:active {
      transform: scale(.95);
      .arrow_icon {
        transform: translateX(5px);
      }
    }
  }
}
.arrow_icon {
  margin-left: 13px;
  width: 10px;
  height: 18px;
  margin-top: 1px;
  display: inline-block;
  vertical-align: middle;
  transform: translate(0, 0) scale(1);
  transition: all 300ms ease-in-out;
}
