.link {
  position: relative;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: #7C7C7C;
    text-decoration: none;
  }

  &--medium {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  &--bold {
    font-weight: 700;
    font-size: 18px;
  }

  &--light {
    font-weight: 300;
  }
  
  &--white {
    color: #fff;

    &:after {
      filter: brightness(0) invert(1);
    }
  }

  &--opener {

    &:after {
      content: '';
      display: inline-block;
      margin-left: 10px;
      width: 14px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/static/faq-arrow.svg);
      transition: transform .3s;
    }
  }
}