.about {
  padding-top: 100px;
}

.s-section {
  padding: 70px 0;
}

.s-section--about {
  padding: 0;
}

.s-section .container {
  display: flex;
  width: 100%;
}

.s-content__text.visible .animated-title {
  opacity: 1;
}

.s-content__text .animated-title {
  overflow: hidden;
  display: block;
  opacity: 0;
}

.s-content__text.visible .animated-title>* {
  opacity: 1;
  transform: translate(0,0);
}

.s-content__text .animated-title>* {
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 640ms cubic-bezier(.645, .05, .355, 1);
}
.s-content__text .line:nth-child(0) .line__content {
  transition-delay: 0s
}

.s-content__text .line:nth-child(1) .line__content {
  transition-delay: 40ms
}

.s-content__text .line:nth-child(2) .line__content {
  transition-delay: 80ms
}

.s-content__text .line:nth-child(3) .line__content {
  transition-delay: 120ms
}

.s-content__text .line:nth-child(4) .line__content {
  transition-delay: 160ms
}

.s-content__text .line:nth-child(5) .line__content {
  transition-delay: .2s
}

.s-content__text .line:nth-child(6) .line__content {
  transition-delay: 240ms
}

.s-content__text .line:nth-child(7) .line__content {
  transition-delay: 280ms
}

.s-content__text .line:nth-child(8) .line__content {
  transition-delay: 320ms
}

.s-content__text .line:nth-child(9) .line__content {
  transition-delay: 360ms
}

.s-content__text .line:nth-child(10) .line__content {
  transition-delay: .4s
}

.s-content__text .line:nth-child(11) .line__content {
  transition-delay: 440ms
}

.s-content__text .line:nth-child(12) .line__content {
  transition-delay: 480ms
}

.s-content__text .line:nth-child(13) .line__content {
  transition-delay: 520ms
}

.s-content__text .line:nth-child(14) .line__content {
  transition-delay: 560ms
}

.s-content__text .line:nth-child(15) .line__content {
  transition-delay: .6s
}

.s-content__text .line:nth-child(16) .line__content {
  transition-delay: 640ms
}

.s-content__text .line:nth-child(17) .line__content {
  transition-delay: 680ms
}

.s-content__text .line:nth-child(18) .line__content {
  transition-delay: 720ms
}

.s-content__text .line:nth-child(19) .line__content {
  transition-delay: 760ms
}

.s-content__text .line:nth-child(20) .line__content {
  transition-delay: .8s
}

.s-content__text .line:nth-child(21) .line__content {
  transition-delay: 840ms
}

.s-content__text .line:nth-child(22) .line__content {
  transition-delay: 880ms
}

.s-content__text .line:nth-child(23) .line__content {
  transition-delay: 920ms
}

.s-content__text .line:nth-child(24) .line__content {
  transition-delay: 960ms
}

.s-content__text .line:nth-child(25) .line__content {
  transition-delay: 1s
}

.s-content__text .line:nth-child(26) .line__content {
  transition-delay: 1.04s
}

.s-content__text .line:nth-child(27) .line__content {
  transition-delay: 1.08s
}

.s-content__text .line:nth-child(28) .line__content {
  transition-delay: 1.12s
}

.s-content__text .line:nth-child(29) .line__content {
  transition-delay: 1.16s
}

.s-content__text .line:nth-child(30) .line__content {
  transition-delay: 1.2s
}

.s-content__text .line:nth-child(31) .line__content {
  transition-delay: 1.24s
}

.s-content__text .line:nth-child(32) .line__content {
  transition-delay: 1.28s
}

.s-content__text .line:nth-child(33) .line__content {
  transition-delay: 1.32s
}

.s-content__text .line:nth-child(34) .line__content {
  transition-delay: 1.36s
}

.s-content__text .line:nth-child(35) .line__content {
  transition-delay: 1.4s
}

.s-content__text .line:nth-child(36) .line__content {
  transition-delay: 1.44s
}

.s-content__text .line:nth-child(37) .line__content {
  transition-delay: 1.48s
}

.s-content__text .line:nth-child(38) .line__content {
  transition-delay: 1.52s
}

.s-content__text .line:nth-child(39) .line__content {
  transition-delay: 1.56s
}

.s-content__text .line:nth-child(40) .line__content {
  transition-delay: 1.6s
}

.s-content__text .line:nth-child(41) .line__content {
  transition-delay: 1.64s
}

.s-content__text .line:nth-child(42) .line__content {
  transition-delay: 1.68s
}

.s-content__text .line:nth-child(43) .line__content {
  transition-delay: 1.72s
}

.s-content__text .line:nth-child(44) .line__content {
  transition-delay: 1.76s
}

.s-content__text .line:nth-child(45) .line__content {
  transition-delay: 1.8s
}

.s-content__text .line:nth-child(46) .line__content {
  transition-delay: 1.84s
}

.s-content__text .line:nth-child(47) .line__content {
  transition-delay: 1.88s
}

.s-content__text .line:nth-child(48) .line__content {
  transition-delay: 1.92s
}

.s-content__text .line:nth-child(49) .line__content {
  transition-delay: 1.96s
}

.s-content__text .line:nth-child(50) .line__content {
  transition-delay: 2s
}

.s-content__text .line:nth-child(51) .line__content {
  transition-delay: 2.04s
}

.s-content__text .line:nth-child(52) .line__content {
  transition-delay: 2.08s
}

.s-content__text .line:nth-child(53) .line__content {
  transition-delay: 2.12s
}

.s-content__text .line:nth-child(54) .line__content {
  transition-delay: 2.16s
}

.s-content__text .line:nth-child(55) .line__content {
  transition-delay: 2.2s
}

.s-content__text .line:nth-child(56) .line__content {
  transition-delay: 2.24s
}

.s-content__text .line:nth-child(57) .line__content {
  transition-delay: 2.28s
}

.s-content__text .line:nth-child(58) .line__content {
  transition-delay: 2.32s
}

.s-content__text .line:nth-child(59) .line__content {
  transition-delay: 2.36s
}

.s-content__text .line:nth-child(60) .line__content {
  transition-delay: 2.4s
}

.s-content__text .line:nth-child(61) .line__content {
  transition-delay: 2.44s
}

.s-content__text .line:nth-child(62) .line__content {
  transition-delay: 2.48s
}

.s-content__text .line:nth-child(63) .line__content {
  transition-delay: 2.52s
}

.s-content__text .line:nth-child(64) .line__content {
  transition-delay: 2.56s
}

.s-content__text .line:nth-child(65) .line__content {
  transition-delay: 2.6s
}

.s-content__text .line:nth-child(66) .line__content {
  transition-delay: 2.64s
}

.s-content__text .line:nth-child(67) .line__content {
  transition-delay: 2.68s
}

.s-content__text .line:nth-child(68) .line__content {
  transition-delay: 2.72s
}

.s-content__text .line:nth-child(69) .line__content {
  transition-delay: 2.76s
}

.s-content__text .line:nth-child(70) .line__content {
  transition-delay: 2.8s
}

.s-content__text .line:nth-child(71) .line__content {
  transition-delay: 2.84s
}

.s-content__text .line:nth-child(72) .line__content {
  transition-delay: 2.88s
}

.s-content__text .line:nth-child(73) .line__content {
  transition-delay: 2.92s
}

.s-content__text .line:nth-child(74) .line__content {
  transition-delay: 2.96s
}

.s-content__text .line:nth-child(75) .line__content {
  transition-delay: 3s
}

.s-content__text .line:nth-child(76) .line__content {
  transition-delay: 3.04s
}

.s-content__text .line:nth-child(77) .line__content {
  transition-delay: 3.08s
}

.s-content__text .line:nth-child(78) .line__content {
  transition-delay: 3.12s
}

.s-content__text .line:nth-child(79) .line__content {
  transition-delay: 3.16s
}

.s-content__text .line:nth-child(80) .line__content {
  transition-delay: 3.2s
}

.s-content__text .line:nth-child(81) .line__content {
  transition-delay: 3.24s
}

.s-content__text .line:nth-child(82) .line__content {
  transition-delay: 3.28s
}

.s-content__text .line:nth-child(83) .line__content {
  transition-delay: 3.32s
}

.s-content__text .line:nth-child(84) .line__content {
  transition-delay: 3.36s
}

.s-content__text .line:nth-child(85) .line__content {
  transition-delay: 3.4s
}

.s-content__text .line:nth-child(86) .line__content {
  transition-delay: 3.44s
}

.s-content__text .line:nth-child(87) .line__content {
  transition-delay: 3.48s
}

.s-content__text .line:nth-child(88) .line__content {
  transition-delay: 3.52s
}

.s-content__text .line:nth-child(89) .line__content {
  transition-delay: 3.56s
}

.s-content__text .line:nth-child(90) .line__content {
  transition-delay: 3.6s
}

.s-content__text .line:nth-child(91) .line__content {
  transition-delay: 3.64s
}

.s-content__text .line:nth-child(92) .line__content {
  transition-delay: 3.68s
}

.s-content__text .line:nth-child(93) .line__content {
  transition-delay: 3.72s
}

.s-content__text .line:nth-child(94) .line__content {
  transition-delay: 3.76s
}

.s-content__text .line:nth-child(95) .line__content {
  transition-delay: 3.8s
}

.s-content__text .line:nth-child(96) .line__content {
  transition-delay: 3.84s
}

.s-content__text .line:nth-child(97) .line__content {
  transition-delay: 3.88s
}

.s-content__text .line:nth-child(98) .line__content {
  transition-delay: 3.92s
}

.s-content__text .line:nth-child(99) .line__content {
  transition-delay: 3.96s
}

.s-content__text .line__content {
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 640ms cubic-bezier(.645, .05, .355, 1)
}

.s-content__text.visible .line__content {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.s-content__text {
  position: relative;
  /*height: 100%;*/
  opacity: 0;
}
.s-content__text.visible {
  opacity: 1
}

aside.sideblock {
  flex-shrink: 0;
  width: 290px;
  margin-right: 70px;
  position: relative;
}
.content-wrapper {
  width: calc(100% - 360px);
}
.s__caption {
  margin-bottom: 41px;
}
.s__describe {
  color: $color-gray;
  font-size: 18px;
  line-height: 24px;
}
.s-section__nav {
  margin-top: 30px;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 640ms cubic-bezier(.645, .05, .355, 1)
}
.s-content__text.visible .s-section__nav {
  opacity: 1;
  transform: translate(0,0);
}
.about__text {
  margin: 0;
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
  opacity: 0;
}
.about__text.visible {
  opacity: 1;
  display: inline-block;
  width: 100%;
}
.about__text .line {
  position: relative;
  overflow: hidden;
}
.about__text .line__content {
  opacity: 0;
  transform: translate(0,100%);
  transition: all 840ms cubic-bezier(.645,.05,.355,1);
}
.about__text.visible .line__content {
  opacity: 1;
  transform: translate(0,0);
}
.about__text .line:nth-child(0) .line__content {
  transition-delay: 0s
}

.about__text .line:nth-child(1) .line__content {
  transition-delay: 40ms
}

.about__text .line:nth-child(2) .line__content {
  transition-delay: 80ms
}

.about__text .line:nth-child(3) .line__content {
  transition-delay: 120ms
}

.about__text .line:nth-child(4) .line__content {
  transition-delay: 160ms
}

.about__text .line:nth-child(5) .line__content {
  transition-delay: .2s
}

.about__text .line:nth-child(6) .line__content {
  transition-delay: 240ms
}

.about__text .line:nth-child(7) .line__content {
  transition-delay: 280ms
}

.about__text .line:nth-child(8) .line__content {
  transition-delay: 320ms
}

.about__text .line:nth-child(9) .line__content {
  transition-delay: 360ms
}

.about__text .line:nth-child(10) .line__content {
  transition-delay: .4s
}

.about__text .line:nth-child(11) .line__content {
  transition-delay: 440ms
}

.about__text .line:nth-child(12) .line__content {
  transition-delay: 480ms
}

.about__text .line:nth-child(13) .line__content {
  transition-delay: 520ms
}

.about__text .line:nth-child(14) .line__content {
  transition-delay: 560ms
}

.about__text .line:nth-child(15) .line__content {
  transition-delay: .6s
}

.about__text .line:nth-child(16) .line__content {
  transition-delay: 640ms
}

.about__text .line:nth-child(17) .line__content {
  transition-delay: 680ms
}

.about__text .line:nth-child(18) .line__content {
  transition-delay: 720ms
}

.about__text .line:nth-child(19) .line__content {
  transition-delay: 760ms
}

.about__text .line:nth-child(20) .line__content {
  transition-delay: .8s
}

.about__text .line:nth-child(21) .line__content {
  transition-delay: 840ms
}

.about__text .line:nth-child(22) .line__content {
  transition-delay: 880ms
}

.about__text .line:nth-child(23) .line__content {
  transition-delay: 920ms
}

.about__text .line:nth-child(24) .line__content {
  transition-delay: 960ms
}

.about__text .line:nth-child(25) .line__content {
  transition-delay: 1s
}

.about__text .line:nth-child(26) .line__content {
  transition-delay: 1.04s
}

.about__text .line:nth-child(27) .line__content {
  transition-delay: 1.08s
}

.about__text .line:nth-child(28) .line__content {
  transition-delay: 1.12s
}

.about__text .line:nth-child(29) .line__content {
  transition-delay: 1.16s
}

.about__text .line:nth-child(30) .line__content {
  transition-delay: 1.2s
}

.about__text .line:nth-child(31) .line__content {
  transition-delay: 1.24s
}

.about__text .line:nth-child(32) .line__content {
  transition-delay: 1.28s
}

.about__text .line:nth-child(33) .line__content {
  transition-delay: 1.32s
}

.about__text .line:nth-child(34) .line__content {
  transition-delay: 1.36s
}

.about__text .line:nth-child(35) .line__content {
  transition-delay: 1.4s
}

.about__text .line:nth-child(36) .line__content {
  transition-delay: 1.44s
}

.about__text .line:nth-child(37) .line__content {
  transition-delay: 1.48s
}

.about__text .line:nth-child(38) .line__content {
  transition-delay: 1.52s
}

.about__text .line:nth-child(39) .line__content {
  transition-delay: 1.56s
}

.about__text .line:nth-child(40) .line__content {
  transition-delay: 1.6s
}

.about__text .line:nth-child(41) .line__content {
  transition-delay: 1.64s
}

.about__text .line:nth-child(42) .line__content {
  transition-delay: 1.68s
}

.about__text .line:nth-child(43) .line__content {
  transition-delay: 1.72s
}

.about__text .line:nth-child(44) .line__content {
  transition-delay: 1.76s
}

.about__text .line:nth-child(45) .line__content {
  transition-delay: 1.8s
}

.about__text .line:nth-child(46) .line__content {
  transition-delay: 1.84s
}

.about__text .line:nth-child(47) .line__content {
  transition-delay: 1.88s
}

.about__text .line:nth-child(48) .line__content {
  transition-delay: 1.92s
}

.about__text .line:nth-child(49) .line__content {
  transition-delay: 1.96s
}

.about__text .line:nth-child(50) .line__content {
  transition-delay: 2s
}

.about__text .line:nth-child(51) .line__content {
  transition-delay: 2.04s
}

.about__text .line:nth-child(52) .line__content {
  transition-delay: 2.08s
}

.about__text .line:nth-child(53) .line__content {
  transition-delay: 2.12s
}

.about__text .line:nth-child(54) .line__content {
  transition-delay: 2.16s
}

.about__text .line:nth-child(55) .line__content {
  transition-delay: 2.2s
}

.about__text .line:nth-child(56) .line__content {
  transition-delay: 2.24s
}

.about__text .line:nth-child(57) .line__content {
  transition-delay: 2.28s
}

.about__text .line:nth-child(58) .line__content {
  transition-delay: 2.32s
}

.about__text .line:nth-child(59) .line__content {
  transition-delay: 2.36s
}

.about__text .line:nth-child(60) .line__content {
  transition-delay: 2.4s
}

.about__text .line:nth-child(61) .line__content {
  transition-delay: 2.44s
}

.about__text .line:nth-child(62) .line__content {
  transition-delay: 2.48s
}

.about__text .line:nth-child(63) .line__content {
  transition-delay: 2.52s
}

.about__text .line:nth-child(64) .line__content {
  transition-delay: 2.56s
}

.about__text .line:nth-child(65) .line__content {
  transition-delay: 2.6s
}

.about__text .line:nth-child(66) .line__content {
  transition-delay: 2.64s
}

.about__text .line:nth-child(67) .line__content {
  transition-delay: 2.68s
}

.about__text .line:nth-child(68) .line__content {
  transition-delay: 2.72s
}

.about__text .line:nth-child(69) .line__content {
  transition-delay: 2.76s
}

.about__text .line:nth-child(70) .line__content {
  transition-delay: 2.8s
}

.about__text .line:nth-child(71) .line__content {
  transition-delay: 2.84s
}

.about__text .line:nth-child(72) .line__content {
  transition-delay: 2.88s
}

.about__text .line:nth-child(73) .line__content {
  transition-delay: 2.92s
}

.about__text .line:nth-child(74) .line__content {
  transition-delay: 2.96s
}

.about__text .line:nth-child(75) .line__content {
  transition-delay: 3s
}

.about__text .line:nth-child(76) .line__content {
  transition-delay: 3.04s
}

.about__text .line:nth-child(77) .line__content {
  transition-delay: 3.08s
}

.about__text .line:nth-child(78) .line__content {
  transition-delay: 3.12s
}

.about__text .line:nth-child(79) .line__content {
  transition-delay: 3.16s
}

.about__text .line:nth-child(80) .line__content {
  transition-delay: 3.2s
}

.about__text .line:nth-child(81) .line__content {
  transition-delay: 3.24s
}

.about__text .line:nth-child(82) .line__content {
  transition-delay: 3.28s
}

.about__text .line:nth-child(83) .line__content {
  transition-delay: 3.32s
}

.about__text .line:nth-child(84) .line__content {
  transition-delay: 3.36s
}

.about__text .line:nth-child(85) .line__content {
  transition-delay: 3.4s
}

.about__text .line:nth-child(86) .line__content {
  transition-delay: 3.44s
}

.about__text .line:nth-child(87) .line__content {
  transition-delay: 3.48s
}

.about__text .line:nth-child(88) .line__content {
  transition-delay: 3.52s
}

.about__text .line:nth-child(89) .line__content {
  transition-delay: 3.56s
}

.about__text .line:nth-child(90) .line__content {
  transition-delay: 3.6s
}

.about__text .line:nth-child(91) .line__content {
  transition-delay: 3.64s
}

.about__text .line:nth-child(92) .line__content {
  transition-delay: 3.68s
}

.about__text .line:nth-child(93) .line__content {
  transition-delay: 3.72s
}

.about__text .line:nth-child(94) .line__content {
  transition-delay: 3.76s
}

.about__text .line:nth-child(95) .line__content {
  transition-delay: 3.8s
}

.about__text .line:nth-child(96) .line__content {
  transition-delay: 3.84s
}

.about__text .line:nth-child(97) .line__content {
  transition-delay: 3.88s
}

.about__text .line:nth-child(98) .line__content {
  transition-delay: 3.92s
}

.about__text .line:nth-child(99) .line__content {
  transition-delay: 3.96s
}

.about__digits {
  margin-top: 65px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.about__digit-item {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 35px;
  padding-right: 20px;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 1040ms cubic-bezier(.645,.05,.355,1);
}
.s-content__text.visible .about__digit-item {
  opacity: 1;
  transform: translate(0, 0);
}
.s-content__text.visible .about__digit-item:nth-child(1) {
  transition-delay: 40ms;
}
.s-content__text.visible .about__digit-item:nth-child(2) {
  transition-delay: 80ms;
}
.s-content__text.visible .about__digit-item:nth-child(3) {
  transition-delay: 120ms;
}
.s-content__text.visible .about__digit-item:nth-child(4) {
  transition-delay: 160ms;
}
.about__digit {
  margin-right: 18px;
  font-size: 40px;
  line-height: 40px;
  flex: 0 0 55px;
  max-width: 55px;
  text-align: right;
  font-weight: 700;
  color: $color-accent;
}
.about__digit-text {
  max-width: 220px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translate(0, .8rem);
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.s-content__text.visible .about__digit-text {
  opacity: 1;
  transform: translate(0,0);
}

.h-slider {
  /*padding-top: 20px;*/
}

.h-slider__slide {
  position: relative;
  width: 28vw;
  display: inline-block;
  cursor: pointer;
  transition: all 640ms cubic-bezier(.645, .05, .355, 1);
  opacity: 0;
  -webkit-transform: translateY(4rem);
  transform: translateY(4rem)
}
.s-content__text.visible .h-slider__slide {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.h-slider__slide:nth-child(1) {
  transition-delay: .1s
}

.h-slider__slide:nth-child(2) {
  transition-delay: .2s
}

.h-slider__slide:nth-child(3) {
  transition-delay: .3s
}

.h-slider__slide:nth-child(4) {
  transition-delay: .4s
}

.h-slider__slide:nth-child(5) {
  transition-delay: .5s
}

.h-slider__slide:nth-child(6) {
  transition-delay: .6s
}

.h-slider__slide:nth-child(7) {
  transition-delay: .7s
}

.h-slider__slide:nth-child(8) {
  transition-delay: .8s
}

.h-slider__slide:nth-child(9) {
  transition-delay: .9s
}

.h-slider__slide:nth-child(10) {
  transition-delay: 1s
}

.h-section__caption {

}

.h-slider__scene.owl-carousel .owl-item img {
  width: auto;
  max-height: 73vh;
}

.h-slider__scene.owl-carousel .s-arrows {
  justify-content: space-between;
  width: 100px;
}

.h-slider__scene.owl-carousel .s-arrows__arrow {

}
.h-card {
  //position: relative;
  //margin-left: 25px;
  //display: flex;
  //justify-content: flex-end;
}
.h-card__image-wrapper {
 /* display: flex;
  justify-content: flex-end;*/
  //max-width: 252px;
  overflow: hidden;
  position: relative;
  margin: 0 16.66666% 0 16.66666%;
  pointer-events: none;
  padding-right: 7vw;
}
.h-card__image-wrapper img {
  max-height: 73vh;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.h-card__title {
  position: absolute;
  //top: 47px;
  //right: 5vw;
  width: 10vw;
  left: 0;
  top: 10%;
  font-size: 2.4vw;
  line-height: 1.2;
  color: #fff;
  //width: 100%;
  text-decoration-line: underline;
  font-weight: 700;
  //max-width: 252px;
  z-index: 0;
  transform: translate(10%,0);
  transition: all 1s ease,height 1s ease;
}
.h-card__title a{
  color: #fff;
  text-decoration: none;
}
.h-card__image-wrapper .h-card__title {
  z-index: 3;
  margin-left: -25%;
}
.h-slider .owl-item.active .h-card__title {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.s-section--services {
  padding-bottom: 0;
}
.serv-list {
  display: flex;
  flex-flow: row wrap;
}
.serv-item {
  flex: 0 0 50%;
  margin-bottom: 70px;
  padding-right: 25px;
  opacity: 0;
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.serv-list.visible  .serv-item{
  display: inline-block;
  width: 100%;
  opacity: 1;
}
.serv-item__text {
  margin-top: 10px;
}
.serv-item .line {
  position: relative;
  overflow: hidden;
}
.serv-item .line__content {
  opacity: 0;
  transform: translate(0,100%);
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.serv-list.visible .serv-item .line__content {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
.serv-item .line:nth-child(0) .line__content {
  transition-delay: 0s
}

.serv-item .line:nth-child(1) .line__content {
  transition-delay: 40ms
}

.serv-item .line:nth-child(2) .line__content {
  transition-delay: 80ms
}
.serv-item .line:nth-child(3) .line__content {
  transition-delay: 120ms
}
.serv-item .line:nth-child(4) .line__content {
  transition-delay: 160ms
}
.serv-item .line:nth-child(5) .line__content {
  transition-delay: 200ms
}
.serv-item .line:nth-child(6) .line__content {
  transition-delay: 240ms
}
.serv-item .line:nth-child(7) .line__content {
  transition-delay: 280ms
}
.serv-item .line:nth-child(8) .line__content {
  transition-delay: 320ms
}
.serv-item .line:nth-child(9) .line__content {
  transition-delay: 360ms
}
.serv-item__title {
  margin-bottom: 20px;
  opacity: 0;
  transform: translate(0,100%);
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.serv-list.visible .serv-item .serv-item__title { 
  opacity: 1;
  transform: translate(0,0);
}
.s-section--clients {
  padding-top: 60px;
  background-color: #fbfbfb;
}
.clients-slider {
  padding-top: 30px;
}
.c-slider__slide {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.clients-item {
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 45px;
  opacity: 0;
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.c-slider__slide .clients-item:nth-child(1) {
  transition-delay: 40ms
}
.c-slider__slide .clients-item:nth-child(2) {
  transition-delay: 80ms
}
.c-slider__slide .clients-item:nth-child(3) {
  transition-delay: 120ms
}
.c-slider__slide .clients-item:nth-child(4) {
  transition-delay: 160ms
}
.c-slider__slide .clients-item:nth-child(5) {
  transition-delay: 200ms
}
.c-slider__slide .clients-item:nth-child(6) {
  transition-delay: 240ms
}
.c-slider__slide .clients-item:nth-child(7) {
  transition-delay: 280ms
}
.c-slider__slide .clients-item:nth-child(8) {
  transition-delay: 320ms
}
.c-slider__slide .clients-item:nth-child(9) {
  transition-delay: 360ms
}

.c-slider__slide .clients-item:nth-child(10) {
  transition-delay: 400ms
}

.c-slider__slide .clients-item:nth-child(11) {
  transition-delay: 440ms
}

.c-slider__slide .clients-item:nth-child(12) {
  transition-delay: 480ms 
}




.c-slider__slide.visible .clients-item {
  opacity: 1;
}

.clients-item__link {
  display: block;
}
.c-slider__scene.owl-carousel .owl-item img.clients-item__img {
  width: auto;
  margin: 0 auto;
}
.c-slider__scene.owl-carousel .owl-dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-slider__scene.owl-carousel .owl-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin-right: 15px;
}
.c-slider__scene.owl-carousel .owl-dot.active {
  background-color: $color-accent;
}
