.case__container {
  position: relative;
}
.case__welcome {
  position: relative;
  height: calc(100vh - 60px);
  max-height: 630px;
  background-color: #f8f9fb;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
}
.case__welcome > .container {
  height: 100%;
}
.case__welcome-wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.case__welcome-content {
  max-width: 350px;
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 1;
}
.case__welcome-title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}
.case__welcome-arrow {
  height: 2px;
  width: 76px;
  background-color: #FF0000;
  margin-bottom: 40px;
}
.case__welcome-text {
  font-size: 16px;
  line-height: 23px;
}
.case__welcome-bg {
  position: absolute;
  bottom: -60px;
  right: 0;
}
.case__welcome-img {
  max-height: 90vh;
  max-width: 40vw;
}
.case__wrapper {
  overflow: hidden;
  /*background-color: #fff;
  z-index: 1;
  position: absolute;
  top: 100%;
  width: 100%;*/
}
.case__wrapper .container {
  z-index: 1;
}
.case__main {
  padding: 120px 0 35px;
  margin-bottom: 35px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;


}
.case__main-task {
  flex-shrink: 0;
  width: 100%;
  max-width: 345px;
  margin-right: 110px;
}
.case__main-type-client {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.case__main-task-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 2px solid #FF0000;
  margin-bottom: 50px;
}
.case__main-task-desc {
  font-size: 18px;
  line-height: 24px;
  color: #7C7C7C;
}
.case__main-type, .case__main-client {
  flex: 0 0 47%;
}
.case__main-type-title, .case__main-client-title  {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}
.case__main-type-desc, .case__main-client-desc {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 40px;
}
.case__next-wrapper {
  position: relative;
  cursor: pointer;
  background: #f8f9fe;
}

.case__next-wrapper:hover .case__next {
  opacity: 1;
}
.case__next-wrapper:hover .case__next-title {
  opacity: 0;
}
.case__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 200px;
  opacity: 0;
  transition: opacity .6s;
}
.case__next-wrapper--white .case__next {
  color: #fff;
  background: #1e1e21;
}
.case__next:hover, .case__next:focus {
  color: #000;
  text-decoration: none;
}
.case__next-wrapper--white .case__next:hover {
  color: #fff;
  text-decoration: none;
}
.case__next-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  padding: 100px 0 200px;
  opacity: 1;
  transition: opacity .6s;
}