.contacts-page {
  flex-flow: row wrap;
  align-items: center;
}
.contact-list {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.contact__item {
  flex: 0 0 33.33333%;
  opacity: 0;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%);
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}

.contact-list.visible .contact__item {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
.contact-list .contact__item:nth-child(1) {
  transition-delay: 50ms;
}
.contact-list .contact__item:nth-child(2) {
  transition-delay: .1s;
}
.contact-list .contact__item:nth-child(3) {
  transition-delay: 150ms;
}

.contact-list .contact__name:after {
  width: 0;
  transition: all 1000ms cubic-bezier(.645,.05,.355,1);
}

.contact-list.visible .contact__name:after {
  width: 100%;
}

.contact__text {
  margin-top: 30px;
  margin-bottom: 17px;
  padding-bottom: 20px;
  padding-right: 25px;
  font-size: 16px;
  line-height: 23px;
}
.contact__links {

}
.contact__link {
  font-size: 20px;
  line-height: 34px;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  .color-accent {
    color: $color-accent;
  }
}
