.welcome {
	height: calc(100vh - 176px);
	min-height: 300px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
}
.-page-home .welcome {
	height: calc(100vh - 144px);
}
.welcome__bg {
	background-size: cover;
	/*background-position: center 20%;*/
	background-position: center bottom;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background-attachment: fixed;*/
}
.welcome__filter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0;
	-webkit-transition: all .05s;
	transition: all .05s;
}
.welcome__video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	opacity: 0;
}
.welcome.visible .welcome__video {
	transition: width 750ms cubic-bezier(.455,.03,.515,.955),height 750ms cubic-bezier(.455,.03,.515,.955),transform 640ms cubic-bezier(.77,0,.175,1),opacity 750ms cubic-bezier(.455,.03,.515,.955);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 1;
}

.welcome__inner-wrapper {
	max-width: 350px;
	width: 30%;
	height: 100%;
	/*flex-shrink: 0;*/
}
.welcome__inner {
	position: absolute;
	top: 0;
	z-index: 10;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	max-width: 630px;
}
.welcome.visible .welcome__text {
	opacity: 1;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}
.welcome__text {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	margin: 0 0 40px 0;
	opacity: 0;
	-webkit-transform: translate(0,100%);
	transform: translate(0,100%);
	transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.welcome__header-p {
	color: #7C7C7C;
	font-size: 22px;
	line-height: 31px;
	margin-bottom: 35px;
	transform: translate(0,100%);
	transition: transform 600ms ease,opacity 600ms ease;
	opacity: 0;
}

.welcome.visible .welcome__header-p {
	opacity: 1;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

.welcome__btn {
	width: 240px;
	opacity: 0;
	transform: translate(0,100%);
	transition: all 600ms ease-in-out;
    animation: fadeIn 600ms ease-in-out;
}
.welcome.visible .welcome__btn {
	opacity: 1;
	transform: translate(0,0);

	&:active, &:focus {
		transform: scale(0.95);
		transition: none;
	}
}

.welcome__right-block {
	width: 70%;
	position: relative;
}
.index__right-block {
	overflow: hidden;
	opacity: 0;
	transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.welcome.visible .index__right-block {
	//transition-delay: 1.28s;
	opacity: 1;
}
.welcome__works {
	//height: 100%;
	position: relative;
	display: flex;
	padding-top: 76px;
}
.ww__items {
	width: 100%;
	margin: 0;
	list-style: none;
}
.ww__item {
	padding: 40px 0;
	transition: all 640ms cubic-bezier(.645,.05,.355,1);
	opacity: .5;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	//height: 100%;
	max-height: 700px;
	//transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.ww__item:last-child {
	padding-bottom: 0;
}
.ww__item.visible {
	opacity: 1;
}
.ww__item .welcome__inner {
	max-width: 530px;
}
.ww__item:hover .ww__link {
	color: $color-gray;
}
.ww__pages {
	color: #7C7C7C;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 45px;
	font-weight: 700;
	opacity: 0.5;
	transition: all 640ms cubic-bezier(.645,.05,.355,1);
	transform: translate(-10%, 0);
}
.ww__item.visible .ww__pages {
	opacity: 1;
	transform: translate(0, 0);
}
.ww__page-cur {
	margin-right: 4px;
}
.ww__page-all {
	margin-left: 4px;
}
.ww__link-all {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 19;
}
.ww__link {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	color: #000;
	margin: 0 0 40px 0;
	opacity: 0.5;
	transform: translate(0,100%);
	transition: all 640ms cubic-bezier(.645,.05,.355,1), color .3s;
}

.ww__item.visible .ww__link {
	opacity: 1;
	transform: translate(0,0);
}
.ww__title {
	color: #7C7C7C;
	font-size: 22px;
	line-height: 31px;
	margin-bottom: 35px;
	transform: translate(0,100%);
	transition: all 640ms cubic-bezier(.645,.05,.355,1);
	opacity: 0.5;
}
.ww__item.visible .ww__title {
	opacity: 1;
	transform: translate(0,0);
}
.ww__pic {
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
}
.ww__pic img {
	//transition: all .5s ease-in-out;
	transition: all 640ms cubic-bezier(.645,.05,.355,1);
	display: block;
	width: 100%;
	//max-width: 90rem;
	transform: scale(.9);
}
.ww__item.visible .ww__pic img {
	transform: scale(1);
}
.ww__item:hover .ww__pic img {
	transform: scale(1.1);
}
.ww__item .index__right-block {
	opacity: .5;
}
.ww__item.visible .index__right-block {
	//transition-delay: 1.28s;
	opacity: 1;
}
.ww__all-link {
	display: flex;
	padding: 95px 0 120px;
	margin-bottom: 76px;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
	cursor: pointer;
}
