.works-page {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-height: calc(100vh - 176px);
}
.works__sect-wrapper {
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
}
.works__sections {
  display: flex;
  flex-flow: column nowrap;
  padding:  20px 20px 20px 0;
  margin: 30px 30px 0 0;
}

.works__section {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateX(-4vw);
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.works__sections.visible .works__section {
  opacity: 1;
  transform: translateX(0);
}
.works__sections.visible .works__section:nth-child(1) {
  transition-delay: 40ms;
}
.works__sections.visible .works__section:nth-child(2) {
  transition-delay: 80ms;
}
.works__sections.visible .works__section:nth-child(3) {
  transition-delay: 120ms;
}
.works__sections.visible .works__section:nth-child(4) {
  transition-delay: 160ms;
}
.works__sections.visible .works__section:nth-child(5) {
  transition-delay: 200ms;
}
.works__sections.visible .works__section:nth-child(6) {
  transition-delay: 240ms;
}
.works__sections.visible .works__section:nth-child(7) {
  transition-delay: 280ms;
}
.works__sections.visible .works__section:nth-child(8) {
  transition-delay: 320ms;
}
.works__sections.visible .works__section:nth-child(9) {
  transition-delay: 360ms;
}
.works__sections.visible .works__section:nth-child(10) {
  transition-delay: 400ms;
}
.works__section--active {
  color: $color-gray;
}
.works__list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.works__links-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.55) 97%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.55) 97%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.55) 97%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  pointer-events: none;
  display: none;
}
.works__item {
  flex: 0 0 48%;
  max-width: 48%;
  margin-right: 2%;
  margin-bottom: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  opacity: 0;
  cursor: pointer; 
  transition: all 640ms cubic-bezier(.645,.05,.355,1);

  &:nth-child(2n){
    margin-right: 0;
  }
  &--empty {
    max-width: 100%;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    color: $color-gray;
  }

  &:hover {
    .works__name {
      color: $color-gray;
    }
    .works__image-link {
      color: $color-gray;
    }
    .works__image {
      transform: scale(1.05);
    }
  }
}

.works__item.visible {
  opacity: 1;
}

.works__image-link {
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}
.works__image {
  position: relative;
  box-sizing: border-box;
  height: 255px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.works__tags {
  margin-bottom: 3px;
}
.works__tag {
  color: $color-gray;
  font-size: 1rem;
  margin-right: 5px;
  cursor: pointer;
}
.works__name:hover {
  color: $color-gray !important;
}
.fixed__menu.is-fixed {
  top: 30px;
  position: fixed;
}
.fixed__menu.is-absolute {
  bottom: 0;
  position: absolute;
}
