@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

.case__welcome-bg {
    top: 0;
    right: -120px !important;
}

.case__welcome-img {
    max-height: 100vh !important;
    max-width: none !important;
}

.case__container-wrapper {
    position: relative;
    margin-top: 126px;
    font-family: 'Raleway', sans-serif;
}

.case__bg-line {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -70px;
    left: -70px;
    z-index: -1;
    max-width: 1820px;
    margin: 0 auto;
}

.case__bg--line1 {
    top: 417px;
}

.case__bg--line2 {
    top: 347px;
}

.case__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.case__page {
    max-width: 100%;
    margin-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.case__page-img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 460px;
    flex: 0 0 460px;
    max-width: 460px;
    position: relative;
}

.case__page-img img {
    margin: 0 auto;
    display: block;
    -webkit-box-shadow: 5px 10px 20px rgba(38, 25, 75, 0.2);
    box-shadow: 5px 10px 20px rgba(38, 25, 75, 0.2);
    border-radius: 10px;
}

.case__page-img:after {
    content: '';
    width: 460px;
    height: 460px;
    background-color: #f7f7f7;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 50%;
}

.case__page-text {
    max-width: 460px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 90px;
}

.case__page--reverse .case__page-text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-left: 90px;
}

.case__page--reverse .case__page-img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.case__page-title {
    padding-top: 85px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
}

.case__page-desc {
    font-size: 18px;
    line-height: 32px;
    color: #8F8F8F;
    letter-spacing: 0.05em;
}

.case__page-title-wrapper {
    max-width: 530px;
    text-align: center;
    margin: 0 auto 150px;
}

.case__detail-images-wrapper {
    background: url(/portfolio/driver/images/content/map.png) center no-repeat;
    background-size: contain;
}

.case__detail-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.case__detail-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.33333%;
}

.case__detail-img:nth-child(2) {
    margin-top: -80px;
}

.case__sale {
    margin-top: 60px;
}

.case__icons {
    margin-bottom: 100px;
}

.case__icons .case__page-title-wrapper {
    margin-bottom: 65px;
}

.case__bg img {
    display: block;
}
