footer.footer.footer--main.footer--fixed
    div.container
        div.footer__inner
            div.footer__projects
                a.footer__projects-link.scroll.link(href='#works') Смотреть проекты
                    span.footer__projects-anim
            div.welcome__right-block.footer__right-block
                div.footer__links
                    a.footer__link(href='https://facebook.com') Facebook
                    a.footer__link(href='https://facebook.com') Behance
                a.footer__download.link(href='assets/files/presentation.pdf') Скачать презентацию
