header.header
    div.container
        div.header__row
            div.header__logo
                a.link.animated-logo(href='index.html')
                    span.animated-word d
                    span.animated-word e
                    span.animated-word u
                    span.animated-word s
            div.header__links
                nav.header__nav
                    a.link.header__nav-link.ajax-load(href='works.html') Кейсы
                    a.link.header__nav-link.ajax-load(href='about.html') О нас
                    a.link.header__nav-link.ajax-load(href='about.html#services') Услуги
                    a.link.header__nav-link.ajax-load(href='contacts.html') Контакты
                div.header__phone.header__button
                    a.link.header__nav-link(href='tel:+74951034351') +7 495 103 43 51
                div.header__socials
                    a(href="#").header__soc-link Facebook
                    a(href="#").header__soc-link Behance
                a(href="#").header__download Скачать презентацию
                div.header__copyright
                    | ©Deus. 2018 <br/>
                    | Made in Russia with Love.
            div.header__burger
                div.header__burger-line
                div.header__burger-line
                div.header__burger-line
div.preloader
    div.preloader__container
        div.preloader__line.preloader-line.-loading
