extends layout

block vars
	- var bodyClass = '-page-about'

block title
	title About us

block header
	include blocks/header

block content
	div.about
		section.s-section.s-section--about
			div.container
				aside.sideblock
					h4.about__text Мы - это интерактивное агентство, которое разрабатывает персональные решения для коммуникации бренда в Интернете.
				div.content-wrapper
					div.s-content__text
						p.s__describe
							| Мы уверены, что проекты делают не компании, а люди. Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
							| Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых
							| и государственных учреждений.
							| <br/><br/>
							| Мы уверены, что проекты делают не компании, а люди. Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
							| Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых
							| и государственных учреждений.
						div.about__digits
							div.about__digit-item
								div.about__digit.counter.counter-default 40
								div.about__digit-text Место рейтинг креативности веб-студий Москвы
							div.about__digit-item
								div.about__digit.counter 80
								div.about__digit-text Место рейтинг разработчиков Mobile Friendly сайтов
							div.about__digit-item
								div.about__digit.counter 39
								div.about__digit-text Выполненных проектов
							div.about__digit-item
								div.about__digit.counter 2
								div.about__digit-text Офис в Москве и Екатеринбурге
		section.s-section.s-section--honors
			div.container
				aside.sideblock
					div.s-content__text
						div.s__caption
							h2 Награды
						p.s__describe Наша работа не остается
							| не замеченной. За 3 года
							| мы собрали большую коллекцию международных наград.&nbsp;
							span.color-green.bold Awwwards,
							span.color-blue.bold CSS Design Awards,
							span.color-red.bold CSS Winner...
						div.s-section__nav.s-arrows
				div.content-wrapper
					div.s-content__text
						div.h-slider
							div.h-slider__scene.owl-carousel
								div.h-slider__slide
									div.h-slider__card
										div.h-card
											div.h-card__image-wrapper
												div.h-card__title
													a(href="#") Honors Mension
												img(src='assets/images/content/honor1.png').h-card__image
											div.h-card__title
												a(href="#").color-green Honors Mension
								div.h-slider__slide
									div.h-slider__card
										div.h-card
											div.h-card__image-wrapper
												div.h-card__title
													a(href="#") Special Kusos
												img(src='assets/images/content/honor2.png').h-card__image
											div.h-card__title
												a(href="#").color-blue Special Kusos
								div.h-slider__slide
									div.h-slider__card
										div.h-card
											div.h-card__image-wrapper
												div.h-card__title
													a(href="#") Special Kusos
												img(src='assets/images/content/honor2.png').h-card__image
											div.h-card__title
												a(href="#").color-red Special Kusos
		section.s-section.s-section--services#services
			div.container
				aside.sideblock
					div.s-content__text
						div.s__caption
							h2 Услуги
						p.s__describe Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений
				div.content-wrapper
					div.serv-list
						div.serv-item
							h3.serv-item__title Дизайн
							p.serv-item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Разработка
							p.serv-item__text Backend и Frontend разработка интернет-проектов любой сложности на платформе 1С-Битрикс
						div.serv-item
							h3.serv-item__title Support
							p.serv-item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Маркетинг
							p.serv-item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Дизайн
							p.serv-item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Разработка
							p.serv-item__text Backend и Frontend разработка интернет-проектов любой сложности на платформе 1С-Битрикс и решений для электронной коммерции
		section.s-section.s-section--clients
			div.container
				aside.sideblock
					div.s-content__text
						div.s__caption
							h2 Клиенты
						p.s__describe Мы помогаем находить идеи, в которые верим без сомнения. Честные отношения с клиентом помогают нам в этом.
				div.content-wrapper
					div.s-content__text
						div.clients-slider
							div.c-slider__scene.owl-carousel
								div.c-slider__slide
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients1.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients2.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients3.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients4.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients5.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients6.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients7.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients8.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients9.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients10.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients11.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients12.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients1.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients2.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients3.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients3.png").clients-item__img
								div.c-slider__slide
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients4.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients5.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients6.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients7.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients8.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients9.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients10.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients11.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients12.png").clients-item__img
		section.s-section.s-section--form#s-callback
			div.container
				aside.sideblock
					div.s-content__text
						div.s__caption
							h2 Готовы сотрудничать?
						p.s__describe Мы будем рады приложить все имеющиеся навыки и знания для комплексного создания и успешного развития вашего проекта или стартапа.
				div.content-wrapper
					div.s-content__text
						div.c-form
							form.c-form__form.validate#callback
								div.c-form__line
									div.c-form__input.c-form__input--half
										input(type="text" name='name' id="orderName").c-form__input-field
										label(for="orderName").c-form__input-label
											span.c-form__input-label-content Как Вас зовут, друг?

									div.c-form__input.c-form__input--half
										input(type="text" name='phone' id="orderPhone").c-form__input-field.mask--phone
										label(for="orderPhone").c-form__input-label
											span.c-form__input-label-content Ваш телефон:
								div.c-form__line
									div.c-form__input.c-form__input--half
										input(type="text" name='mail' id="orderMail").c-form__input-field
										label(for="orderMail").c-form__input-label
											span.c-form__input-label-content E-mail:
									div.c-form__input.c-form__input--half
										div.c-form__input-field.c-form__input-file
											div.dZUpload.dz-clickable#dZUpload
												div.dz-default.dz-message Выберите файл
													div.dz-icon
														<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M0.856237 8.7963C0.38055 8.7963 9.53674e-07 9.16667 9.53674e-07 9.62963V14.1667C9.53674e-07 14.6296 0.38055 15 0.856237 15H14.1121C14.5877 15 15 14.6296 15 14.1667V9.62963C15 9.16667 14.5877 8.7963 14.1121 8.7963C13.6364 8.7963 13.2558 9.16667 13.2558 9.62963V13.3025H1.71247V9.62963C1.71247 9.16667 1.33192 8.7963 0.856237 8.7963Z" fill="#0000FF"/>
														<path d="M8.08667 10.679L11.575 7.28395C11.9239 6.94444 11.9239 6.45062 11.575 6.11111C11.2262 5.77161 10.7188 5.77161 10.37 6.11111L8.34037 8.05556V0.833333C8.34037 0.37037 7.95982 0 7.48413 0C7.00845 0 6.6279 0.37037 6.6279 0.833333V8.05556L4.63001 6.11111C4.28117 5.77161 3.74206 5.77161 3.39322 6.11111C3.04439 6.45062 3.04439 6.94444 3.39322 7.28395L6.8816 10.679C7.04016 10.8333 7.26215 10.9259 7.48413 10.9259C7.70612 10.9259 7.92811 10.8333 8.08667 10.679Z" fill="#0000FF"/>
														</svg>

										//input(type="text" placeholder='Прикрепить файл:' name='fileupload').c-form__input-field.c-form__input-field--half
								div.c-form__line
									div.c-form__input
										input(type="text" name='message' id="orderMessage").c-form__input-field
										label(for="orderMessage").c-form__input-label
											span.c-form__input-label-content Опишите свой вопрос
								div.c-form__bottom
									//div.c-form__bottom-half
										input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
										label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
									a(type='submit' role="button").btn.btn--arrow.c-form__link Отправить
										span.arrow_icon
											<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 12L6 6.92187L1 1.84375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>

block footer
	include blocks/footer
