extends layout

block vars
    - var bodyClass = '-page-home'

block title
    title Главная

block header
    include blocks/header

block content
    div.container
        div.welcome
            div.welcome__inner-wrapper
                div.welcome__inner
                    h1.welcome__text Интерактивное агентство
                    p.welcome__header-p Мы занимаемся дизайном цифровых интерфейсов,
                        | <br> разработкой и поддержкой сайтов
                    a(href="about.html" role="button").btn.btn--arrow.welcome__btn Связаться с нами
                        span.arrow_icon
                            <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 12L6 6.92187L1 1.84375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            div.welcome__right-block.index__right-block.content-video
                div.welcome__bg(style="background-image: url(assets/images/content/video.jpg)")
                div.welcome__filter
                video.welcome__video(autoplay muted loop)
                    source(src="assets/files/video/video4.mp4" type='video/mp4; codecs=avc1.42E01E, mp4a.40.2')
                    source(src="assets/files/video/video4.webm" type='video/mp4; codecs=vp8,vorbis')
        div.welcome__works#works
            ul.ww__items
                li.ww__item
                    div.welcome__inner-wrapper
                        div.welcome__inner
                            div.ww__pages
                                span.ww__page-cur 01
                                | /
                                span.ww__page-all 03
                            a.ww__link(href="#") Спортивный фитнес журнал Crossfit.ru
                            p.ww__title Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений
                    div.welcome__right-block.index__right-block
                        figure.ww__pic
                            img(src="assets/images/content/ww_items/crossfit.png" alt="Crossfit" data-color="#ababb3" style="cursor: pointer")
                li.ww__item
                    div.welcome__inner-wrapper
                        div.welcome__inner
                            div.ww__pages
                                span.ww__page-cur 02
                                | /
                                span.ww__page-all 03
                            a.ww__link(href="#") Крутые займы с кредит каром
                            p.ww__title Мы будем рады предложить создать успешный проект или стартап.
                    div.welcome__right-block.index__right-block
                        figure.ww__pic
                            img(src="assets/images/content/ww_items/carom.png" alt="Karom" data-color="#ababb3" style="cursor: pointer")
                li.ww__item
                    div.welcome__inner-wrapper
                        div.welcome__inner
                            div.ww__pages
                                span.ww__page-cur 03
                                | /
                                span.ww__page-all 03
                            a.ww__link(href="#") Спортивный фитнес журнал Crossfit.ru
                            p.ww__title Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений
                    div.welcome__right-block.index__right-block
                        figure.ww__pic
                            img(src="assets/images/content/ww_items/crossfit.png" alt="Crossfit" data-color="#ababb3" style="cursor: pointer")

block footer
    include blocks/footer-main
