doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible",content="IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title default title


        link(rel='stylesheet', href='assets/css/lib/animate.css')
        link(rel='stylesheet', href='assets/css/lib/fancybox.css')
        link(rel='stylesheet', href='assets/css/lib/lightbox.css')
        link(rel='stylesheet', href='assets/css/lib/mcustomscrollbar.css')
        link(rel='stylesheet', href='assets/css/lib/owl.carousel.css')
        link(rel='stylesheet', href='assets/css/lib/youtube.css')
        link(rel='stylesheet', href='assets/css/lib/dropzone.css')
        link(rel='stylesheet', href='assets/css/lib/odometer-theme-default.css')
        link(rel='stylesheet', href='assets/css/lib/swiper.min.css')
        link(rel='stylesheet', href='assets/css/main.css')
        link(rel='stylesheet', href='assets/css/media.css')
        // script(src='assets/js/lib/pace.min.js')

    - var bodyClass = '';
    - var pageClass = 'page';
    block vars
    body(class='-loading -hide-footer ' + bodyClass)

        div(class=pageClass)
            block header
            div.content
                block content

            block footer
            include blocks/popups


        script(src='assets/js/lib/jquery-3.1.1.min.js')

        script(src='assets/js/lib/mobile-detect.min.js')
        script(src='assets/js/lib/iphone-inline-video.min.js')
        script(src='assets/js/lib/jquery.splitlines.js')
        script(src='assets/js/lib/jquery.mCustomScrollbar.js')
        script(src='assets/js/lib/smooth-scroll.min.js')
        script(src='assets/js/lib/smooth-scrollbar.min.js')
        script(src='assets/js/lib/ScrollMagic.min.js')
        script(src='assets/js/lib/jquery.ScrollMagic.min.js')
        script(src='assets/js/lib/validate.js')
        script(src='assets/js/lib/mask.js')
        script(src='assets/js/lib/youtube.js')
        script(src='assets/js/lib/owl.carousel.min.js')
        script(src='assets/js/lib/swiper.min.js')
        //script(src='assets/js/lib/wow.js')
        script(src='assets/js/lib/dropzone.min.js')
        script(src='assets/js/lib/jquery.countimator.min.js')


        script(src='assets/js/main.js')
