extends layout

block vars
    - var bodyClass = '-page-works'

block title
    title

block header
    include blocks/header

block content
    div.container
        div.works-page
            div.works__sect-wrapper
                nav.works__sections.fixed__menu
                    a(href="/works").link.works__section.link.works__section--active Все
                    a(href="#").link.works__section Frontend
                    a(href="#").link.works__section Backend
                    a(href="#").link.works__section Design
                    a(href="#").link.works__section Mobile
                    a(href="#").link.works__section Support
                    a(href="#").link.works__section Marketing
                div.works__links-bg
            div.works__list
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work1.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design,
                        a(href="#").works__tag Frontend,
                        a(href="#").works__tag Backend,
                        a(href="#").works__tag Support
                    a(href="#").link.link--medium.works__name Спортивный фитнес журнал CrossFit.ru
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work2.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design
                    a(href="#").link.link--medium.works__name Разработка промо сайта Direct Credit
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work3.png')").works__image
                    div.works__tags
                        a(href="#").works__tag UI/UX,
                            a(href="#").works__tag Support
                    a(href="#").link.link--medium.works__name Сайт банку Кубань кредит
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work4.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design,
                        a(href="#").works__tag Frontend,
                        a(href="#").works__tag Backend,
                        a(href="#").works__tag Support
                    a(href="#").link.link--medium.works__name Design, Mobile
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work5.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design,
                        a(href="#").works__tag Frontend,
                        a(href="#").works__tag Backend
                    a(href="#").link.link--medium.works__name Разработка сайта для Credeo
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work6.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design,
                        a(href="#").works__tag Frontend,
                        a(href="#").works__tag Backend
                    a(href="#").link.link--medium.works__name Ответственный Водитель

block footer
    include blocks/footer
