@media screen and (max-width: 767px) {
  .footer--main {
    display: none;
    z-index: 100;
  }
  .footer__inner {
    flex-flow: column nowrap;
    align-items: flex-start;
    font-size: 14px;
    line-height: 21px;
    padding: 15px 0;
  }
  .footer__right-block--one {
    text-align: left;
  }
  .footer__projects, .footer__copyright {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 479px) {
  .footer__right-block {
    align-items: flex-start;
    >div {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .footer__link, .footer__download {
    font-size: 12px;
    margin-right: 5px;
  }
}