@media screen and (max-width: 767px) {
	.header__logo {
		position: relative;
		z-index: 1;
		font-size: 24px;
		line-height: 24px;
	}

	.header__row {
		padding: 20px 0;
		&.is-opened {
			.header__logo {
				a {
					color: #fff;
				}
			}
			.header__links {
				visibility: visible;
				opacity: 1;
			}
			.header__burger-line {
				background-color: #fff;
			}
		}
	}

	.header__links {
		position: fixed;
		padding: 90px 15px 15px;
		flex-direction: column;
		justify-content: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		color: #fff;
		background-color: #1F1F1F;
		background-position: center;
		background-size: cover;
		text-align: left;
		min-height: 500px;
		overflow-y: scroll;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: visibility 0.3s, opacity 0.3s;
		transition: visibility 0.3s, opacity 0.3s;
	}

	.header__nav {
		display: block;
		margin-right: 0;
		padding: 0;
	}

	.header__nav-link {
		color: #fff;
		font-size: 24px;
		line-height: 45px;
		font-weight: 700;
		display: block;
		margin-right: 0;
		margin-left: 0;
		padding: 8px 0;
		text-align: left;

	}
	.header__button {
		margin-top: 60px;
		margin-bottom: 50px;
	}
	.header__phone {
		display: none;
		font-size: 16px;
		font-weight: 100;
		color: #fff;
		margin-bottom: 50px;
	}
	.header__socials {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 50px;
	}
	.header__soc-link, .header__download {
		color: #fff;
		font-size: 16px;
		line-height: 21px;
	}
	.header__soc-link {
		margin-right: 10px
	}
	.header__download {
		display: block;
		width: 100%;
		margin-top: 5px;
	}
	.header__copyright {
		display: block;
		text-align: left;
		color: #6C6C6C;
		font-size: 14px;
		line-height: 21px;
		margin-top: auto;
		width: 100%;
	}

	.header__burger {
		height: 25px;
		width: 25px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;
	}

	.header__burger-line {
		height: 2px;
		width: 25px;
		background-color: #000;
		margin-bottom: 7px;
		transition: opacity .3s, transform .3s;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.header__burger.is-active .header__burger-line:nth-child(1) {
		transform: rotate(45deg) translateY(6px) translateX(7px);
	}
	.header__burger.is-active .header__burger-line:nth-child(2) {
		opacity: 0;
	}
	.header__burger.is-active .header__burger-line:nth-child(3) {
		transform: rotate(-45deg) translateY(-6px) translateX(7px);
	}

	.header__button {
		margin-right: 25px;

		&--close {
			left: 90px;
			z-index: 1;
		}
	}

	.header__nav-sections {
		-ms-align-items: flex-start;
		align-items: flex-start;
		padding-left: 60px;
	}
}
