@media screen and (max-width: 767px) {
  .popup .popup__wrapper {
    padding: 0;
  }
  .popup .popup__container {
    padding: 30px 30px 50px;
  }
  .popup .popup__closer {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }
  .popup .popup__closer:before, .popup .popup__closer:after {
    top: 9px;
  }
  .popup .popup__title {
    font-size: 22px;
    margin-top: 40px;
  }
}