@media screen and (max-width: 1024px) {
  .c-form__line {
    flex-flow: row wrap;
  }
  .c-form__input--half {
    width: 100%;
    display: block;
  }
  .c-form__input {
    margin: 10px 0;
  }
  .c-form__input-label:after, .dz-message:after {
    height: 1px;
  }
  .c-form__link {
    padding: 16px 35px;
    font-size: 16px;
    line-height: 19px;
  }
}