@font-face {
  font-family: 'GothamPro';
  src: url('./fonts/GothamPro/GothamPro-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('./fonts/GothamPro/GothamPro-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Marmelad';
  src: local('Marmelad'), local('Marmelad-Regular'),
  url('./fonts/Marmelad/Marmelad-Regular.woff2') format('woff2'),
  url('./fonts/Marmelad/Marmelad-Regular.woff') format('woff'),
  url('./fonts/Marmelad/Marmelad-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.case {
  //position: relative;

}
.case__bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FCF7EB;
  z-index: -1;
}
.case__pages {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 140px;
  position: relative;
  font-family: 'Marmelad', sans-serif;
}
.case__page {
  padding: 160px 0;
  position: relative;
}
.case__page--main {
  background: linear-gradient(294.99deg, #E8D8B1 1.49%, #FFF1CF 101.39%);
}
.case__page--parents {
  background: linear-gradient(295.14deg, #60A7D0 1.36%, #67B4E1 100%);
  padding-bottom: 100px;
}
.case__page--medics {
  background: linear-gradient(295.22deg, #7AB466 1.3%, #8BCF73 100%);
  padding-bottom: 0;
}
.case__page--events {
  background: linear-gradient(295.03deg, #3A5499 1.45%, #5371BF 100%);
}
.case__page--articles {
  background: linear-gradient(294.99deg, #E8D8B1 1.47%, #FFF1CF 100%);
}
.case__page--news {
  background: linear-gradient(114.97deg, #F8866A 0%, #CE6349 98.51%);
}
.case__page--illustrations {
  background: linear-gradient(144.03deg, #3A5499 0%, #5371BF 98.3%);
}
.case__page--404 {
  background: #151513;
  padding-bottom: 0;
}
.case__page-picimg {
  position: absolute;
  bottom: 0;
  left:-260px;
  width: 604px;
  height: 745px;
  background-image: url(./images/content/childrens_illustr.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.case__page--medics .case__page-picimg {
  left: auto;
  right: -353px;
}
.case__page--events .case__page-picimg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 560px;
  height: 760px;
  background-image: url(./images/content/events_illustr.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.case__page--events .case__page-picimg-left {
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 228px;
  height: 255px;
  background-image: url(./images/content/events_illustr-left.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.case__page--news .case__page-picimg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 469px;
  height: 525px;
  background-image: url(./images/content/news-illust-left.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.case__page .container {
  padding-bottom: 40px;
  z-index: 0 !important;
}
.case__page--medics .container {
  padding-bottom: 140px
}
.case__page-container {
  display: flex;
  flex-flow: column nowrap;
}
.case__page-title {
  margin-bottom: 25px;
  font-size: 24px;
  color: #000;
  line-height: 1.2;
}
.case__page-title--white {
  color: #fff;
}
.case__page-img img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 60px 60px 70px rgba(0, 0, 0, 0.1), 10px 10px 25px rgba(0, 0, 0, 0.08), 30px 30px 50px rgba(0, 0, 0, 0.1);
}
.case__page--main .case__page-img img {
  box-shadow: 60px 60px 70px rgba(179, 168, 143, 0.1), 10px 10px 25px rgba(179, 168, 143, 0.08), 30px 30px 50px rgba(179, 168, 143, 0.1);
}
.case__page--childhood .case__page-img img {
  box-shadow: 60px 60px 70px rgba(179, 168, 143, 0.1), 10px 10px 25px rgba(179, 168, 143, 0.08), 30px 30px 50px rgba(179, 168, 143, 0.1);
}
.case__page--404 .case__page-img img {
  box-shadow: 60px 60px 70px rgba(0, 0, 0, 0.1), 10px 10px 25px rgba(0, 0, 0, 0.08), 30px 30px 50px rgba(0, 0, 0, 0.1);
}
.case__page-elems-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url(./images/content/elements.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.case__page-elems-medic {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   background-image: url(./images/content/medic_elements.png);
   background-size: cover;
   background-repeat: no-repeat;
 }
.case__page-elems-events {
  position: absolute;
  top: -18px;
  left: 52px;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 870px;
  height: 340px;
  background-image: url(./images/content/events_elems.png);
  background-size: cover;
  background-repeat: no-repeat;

}
.case__page-elems-news {
  position: absolute;
  top: 0;
  left: 24px;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 1199px;
  height: 697px;
  background-image: url(./images/content/news_elems.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.case__page-elems-childhood {
  position: absolute;
  top: -76px;
  right: 52px;
  bottom: -4px;
  z-index: 1;
  width: 900px;
  background-image: url(./images/content/childhood_elems.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.case__slider {
  position: relative;
}
.case__slider .case__page-img img {
  box-shadow: 60px 60px 70px rgba(179, 168, 143, 0.1), 10px 10px 25px rgba(179, 168, 143, 0.08), 30px 30px 50px rgba(179, 168, 143, 0.1);
}

.case-arrows__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  background: url(./images/content/arrow.svg) no-repeat;
  background-size: cover;
  width: 40px;
  height: 83px;
  cursor: pointer;
}
.case-arrows__arrow--prev {
  left: -100px;
}
.case-arrows__arrow--next {
  right: -100px;
  transform: rotate(180deg);
}
.case__page--illustrations {
  position: relative;
}
.case__page--illustrations .case__page-title {
  font-size: 24px;
  color: #FCF7EB;
  margin-top: 115px;
  max-width: 460px;
  margin-left: 90px;
  margin-bottom: 100px;
}
.case__page--illustrations .case__page-bg {
  width: 1398.79px;
  height: 2246.43px;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
}
.case__page-illu-elems {
  position: relative;
  margin-top: -100px;
}
.case__page-illu-elem {
  width: 50%;
}
.grid-item {

  width: 533px;
  height: 533px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}
.gutter-sizer {
  width: 4.2%;
}
.grid-sizer {
  width: 50%;
}
.case__page--fonts .container{
  position: unset;
}
.case__page--fonts-bg {
  background: url('/portfolio/dentists-assoc/images/content/grid.png') center no-repeat;
  background-size: cover;
  height: 780px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 70px;
  right: 70px;
  max-width: 1080px;
  margin: 0 auto;
}
.case__fonts-title {
  font-size: 24px;
  color: #1C1C19;
  margin-bottom: 50px;
}
.case__fonts-wrapper {
  display: flex;
}
.case__font {
  display: flex;
  align-items: baseline;
}
.case__font--marmelad {
  font-family: 'Marmelad', sans-serif;
  width: 50%;
  margin-right: 15px;
}
.case__font--gotham {
  font-family: 'GothamPro', sans-serif;
}
.case__font-letter {
  font-size: 144px;
  line-height: 180px;
  margin-right: 100px;
}
.case__font--gotham .case__font-letter {
  margin-right: 75px;
}
.case__font-name {
  line-height: 43px;
  font-size: 24px;
}
.case__colors {
  margin-top: 65px;
}
.case__color {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.case__color--1 {
  background: #1C1C19;
  box-shadow: 0px 35px 40px rgba(0, 0, 0, 0.45);
}
.case__color--2 {
  background: #FCF7EB;
  box-shadow: 0px 35px 40px rgba(214, 197, 160, 0.45);
  margin-top: 20px;
}
.case__color--3 {
  background: #7AB466;
  box-shadow: 0px 35px 40px rgba(122, 180, 102, 0.45);
  margin-top: 40px;
}
.case__color--4 {
  background: #CE6349;
  box-shadow: 0px 35px 40px rgba(206, 99, 73, 0.45);
  margin-top: 40px;
}
.case__color--5 {
  background: #3A5499;
  box-shadow: 0px 35px 40px rgba(58, 84, 153, 0.45);
  margin-top: 20px;
}
.case__color--6 {
  background: #60A7D0;
  box-shadow: 0px 35px 40px rgba(96, 167, 208, 0.45);
}
.case__page-mac {
  max-width: 1315px;
  width: 100%;
  margin: 160px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}