@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Ubuntu:400,700&subset=cyrillic');
@font-face {
    font-family: 'Foros';
    src: url('./fonts/Foros/Foros-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.case__index {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.case__index-img {
    display: flex;
    justify-content: flex-start;
    margin-left: -84px;
    margin-top: -75px;
    z-index: 1;
}
.case__index-points {
    position: relative;
    width: 190px;
}
.case__index-point {
    position: absolute;
    top: 0;
    right: 0;
}
.case__index-point1 {
    top: 280px;
}
.case__index-point2 {
    top: 650px;
}
.case__index-point3 {
    top: 1286px;
}
.case__index-point4 {
    top: 1717px;
}
.case__index-point5 {
    top: 2099px;
}
.case__index-point6 {
    top: 2500px;
}
.case__index-point7 {
    top: 2854px;
}
.case__index-point8 {
    top: 3020px;
}
.case__index-point-title {
    line-height: 1;
    font-size: 16px;
    margin-bottom: 12px;
    text-align: right;
    font-weight: 500;
}
.case__index-point-line {
    height: 1px;
    width: 246px;
    background-color: #D8D8D8;
    position: relative;
}
.case__index-point-line:before {
    content: '';
    width: 52px;
    height: 1px;
    background: #DDA745;
    position: absolute;
}
.case__index-point-line:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #D8D8D8;
    border-radius: 50%;
    position: absolute;
    right: -3px;
    top: -3px;
}
.case__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}
.case__head-left {
    flex: 0 0 340px;
    margin-right: 30px;
    display: flex;
    flex-flow: column nowrap;
}
.case__head-title {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.case__head-title:before {
    content: '';
    height: 2px;
    background-color: #DDA745;
    margin-bottom: -40px;
    width: 100%;
    display: block;
}
.case__head-desc {
    margin-top: 50px;
    line-height: 24px;
    font-size: 18px;
    color: #7C7C7C;
}
.case__head-text {
    font-size: 16px;
    line-height: 26px;
}
.case__grid {
    background: url(/portfolio/pobeda/images/content/grid.png) center top no-repeat;
    background-size: 100%;
}
.case__dimensions {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.case__dimension {
    margin-bottom: 84px;
}
.case__dimension2 {

}
.case__dimension-title-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 7px;
}
.case__dimension-dpi {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.case__dimension-digit {
    line-height: 1;
    font-size: 36px;
    margin-right: 6px;
}
.case__dimension-title {
    line-height: 1;
    font-size: 16px;
    text-align: right;
    font-weight: 500;
}
.case__dimension-line {
    height: 1px;
    background-color: #DDA745;
    position: relative;
}
.case__dimension-line:before {
    left: -3px;
}
.case__dimension-line:after {
    right: -3px
}
.case__dimension-line:after, .case__dimension-line:before {
    content: '';
    width: 7px;
    height: 7px;
    background: #DDA745;
    border-radius: 50%;
    position: absolute;
    top: -3px;
}
.case__ui {
    height: 523px;
    background: #E0B15C;

}
.case__ui_bg {
    background: url(/portfolio/pobeda/images/content/bg_card.png) center top no-repeat;
    padding: 70px 0;
    height: 100%;
    margin: 0 -20px;
}
.case__ui-items {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 0 20px;
}
.case__ui-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    max-width: 252px;
    margin-right: 25px;
}
.case__ui-item:last-child {
    margin-right: 0;
}
.case__ui-item-title-wrapper {

}
.case__ui-item-img {
    min-height: 300px;
}
.case__ui-item-title {
    line-height: 26px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    color: #1D1D1D;
}
.case__ui-item-desc {
    line-height: 21px;
    font-size: 14px;
    text-align: center;
    color: #1D1D1D;
}
.case__adaptive {
    padding: 90px 0 0;
    position: relative;
}
.case__adaptives {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
.case__adaptives img{
    margin: 0 -10px;
}
.case__bg-wheels {
    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: 2;
}
.case__bg-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 76%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 76%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 76%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    z-index: 1;
}
.case__fonts-section {
    background: url(/portfolio/pobeda/images/content/bg_alf.png) center no-repeat;
    background-size: cover;
    padding: 80px 0 60px;
}
.case__fonts {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 70px;
}
.case__font {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-flow: column nowrap;
    padding-right: 80px;
}
.case__font1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.case__font2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.case__font3 {
    font-family: 'Foros', sans-serif;
    font-weight: 600;
}
.case__font-letter {
    font-size: 40px;
    margin-bottom: 15px;
}
.case__font-title {
    font-size: 20px;
    color: #1D1D1D;
}
.case__colors {
    display: flex;
    flex-flow: row nowrap;
}
.case__color {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-flow: column nowrap;
    padding-right: 70px;
    align-items: flex-start;
}
.case__color-img {
    margin-bottom: 20px;
}
.case__color-title {
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    color: #1D1D1D;
    width: 91px;
}
.case__layouts {
    padding: 90px 0 0;
}
.case__pages-wrapper {
    position: relative;
    z-index: 1;
    padding-bottom: 300px;
}
.case__pages-wrapper .container{
    z-index: unset !important;
}
.case__pages-bg {
    position: absolute;
    height: 100%;
    left: -40px;
    right: -40px;
    bottom: 0;
    z-index: 1;
    background: url(/portfolio/pobeda/images/content/bg_footer.png) center bottom -300px no-repeat;
    background-size: cover;
}
.case__page {
    display: flex;
    align-items: center;
}
.case__page--width0 {
    width: 100%;
}
.case__page--width1 {
    width: 41.6666%;
}
.case__page--width2 {
    width: 33.33333%;
}
.case__page--width3 {
    width: 25%;
}
.case__page-image {
    margin: 0 auto;
}
.case__page-img {
    margin: 0 -18px;
}
/*.grid-item {
    width: 80px;
    height: 60px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}*/
.gutter-sizer {
    width: 4.2%;
}
.grid-sizer {
    width: 8.33333%;
}
.case__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    left: -40px;
    right: -40px;
    bottom: -300px;
    z-index: 2;
}
.case__bg img {
    margin: 0 auto;
}