@media screen and (min-width: 1920px) {
  .h-card__title {
    font-size: 46px;
  }
}
@media screen and (max-width: 1439px) {
  .h-slider__slide {
    width: 33vw;
  }
  .h-card__title {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 1199px) {
  .serv-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .serv-item__title {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1023px) {
  .s-section {
    padding: 40px 0;
  }
  .s-section .container {
    display: block;
  }
  aside.sideblock, .content-wrapper {
    width: 100%;
  }
  aside.sideblock {
    margin-bottom: 20px;
  }
  .s-section__nav {
    margin-left: auto;
  }
  .h-slider__slide {
    width: 55vw;
  }
  .h-card__title {
    width: 23vw;
    font-size: 4.4vw;
  }
  .clients-slider {
    padding-top: 0;
  }
  .c-slider__slide {
    justify-content: center;
  }
  .clients-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .about {
    padding-top: 0;
  }
  .s-section--about {
    padding-top: 30px
  }
  aside.sideblock {
    margin-bottom: 40px;
  }
  .about__digits {
    flex-flow: column;
  }
  .about__digit-item {
    flex: unset;
    max-width: 100%;
  }
  .about__digit-item:last-child {
    margin-bottom: 20px;
  }
  .s-section__nav {
    display: none;
  }
  .h-slider {
    margin-bottom: 20px;
  }
  .h-slider__slide {
    width: 80vw;
  }
  .h-card__title {
    font-size: 5.5vw;
    width: 20vw;
  }
  .serv-item {
    margin-bottom: 40px;
  }
  .s-section--form {
    padding-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  .h-card__title a{
    font-size: 8.25vw;
    line-height: 8.25vw;
  }
}
