@media (max-width: 1025px){
  .case__main {
    flex-flow: column nowrap;
  }
  .case__main-type-client {
    flex-flow: column;
  }
  .case__main-task {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .case__main-task-title {
    margin-bottom: 20px;
  }
  .case__main-type, .case__main-client {
    flex: unset;
  }
  /*.case__welcome {
    max-height: 800px;
  }
  .case__welcome-wrapper {
    max-height: 800px;
  }*/
}
@media screen and (max-width: 767px){
  .case__main {
    flex-flow: column nowrap;
  }
  .case__main-task {
    margin-bottom: 40px;
  }
}
