@media screen and (max-width: 1023px) {
  .contacts-page {
    height: auto;
    padding-top: 50px;
  }
  .contact-list {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
  .contact__text {
    margin-top: 17px;
    padding-bottom: 0;
  }
  .contact__item {
    margin-bottom: 60px;
    flex: unset;
    max-width: 100%;
    width: 100%;
  }
}
