@media screen and (max-width: 767px) {
  .welcome {
    flex-flow: column nowrap;
    justify-content: space-around;
    height: calc(100vh - 65px);
  }
  .-page-home .welcome {
    height: calc(100vh - 65px);
  }
  .welcome__works {
    padding-top: 40px;
  }
  .welcome__inner-wrapper {
    width: 100%;
    max-width: 100%;
    height: 50%;
  }
  .welcome__right-block {
    width: 100%;
    //height: 50%;
  }
  .index__right-block {
    overflow: unset;
  }
  .welcome__inner {
    //justify-content: flex-start;
    position: relative;
    justify-content: center;
  }
  .welcome__text, .ww__link {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 10px 0;
    max-width: 200px;
  }
  .welcome__header-p, .ww__title {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 0;
  }
  .welcome__btn {
    padding: 10px 18px;
    font-size: 15px;
    line-height: 18px;
    width: 190px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .welcome__bg {
    width: calc(100% + 30px);
    left: -15px;
  }
  .welcome__video {
    display: none;
  }
  .ww__item {
    padding: 1rem 0;
    flex-flow: column nowrap;
    height: auto;
  }
  .ww__item .welcome__inner-wrapper {
    height: fit-content;
  }
  .welcome .index__right-block {
    height: 50%;
  }
  .ww__link {
    max-width: 500px;
    line-height: 28px;
  }
  .ww__title {
    margin-bottom: 10px;
  }
  .ww__pic {
    margin: 0 -15px;
    height: fit-content;
  }
  .ww__pages {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .ww__page-cur {
    margin-right: 0;
  }
  .ww__page-all {
    margin-left: 0;
  }
  .ww__all-link {
    padding: 60px 15px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 0;
  }
}
