@media screen and (max-width: 990px) {
  .works__sect-wrapper {
    flex: 0 0 35%;
    max-width: 35%;
  }
  .works__item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .works-page {
    flex-flow: column nowrap;
  }
  .works__sect-wrapper {
    flex: unset;
    max-width: 100%;
  }
  .works__sections {
    margin: 30px 0;
    padding: 0;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .works__section {
    margin-bottom: 0;
    margin-right: 15px;
    display: inline-block;
  }
  .works__list {
    justify-content: center;
  }
  .works__image {
    height: 50vw
  }
  .works__tags {
    margin-bottom: 0;
  }
  .works__links-bg {
    display: block;
  }
}
