HTML,BODY{margin:0;padding:0;height:100%;width:100%;}

BODY{font-family: Arial;font-size:14px;color:#000000;}
/*@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/PTS75F-webfont.eot');
    src: url('fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS75F-webfont.woff') format('woff'),
         url('fonts/PTS75F-webfont.ttf') format('truetype'),
         url('fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

#silverboats {
	position:relative; /* needed for footer positioning*/
	width: 100%;
	min-width: 1000px;
	width: expression(document.documentElement.clientWidth < 1000 ? "1000px" : "auto");
	background:#fff url(images/sv_bg.jpg) center 0px no-repeat;
	height:1300px;
	font-family: "pt_sansbold";
	padding-bottom: 306px !important;
}
#silverboats .m
{
	width:1000px;
	height:auto;
	margin:0 auto;		
	padding-top:450px;
}
#silverboats .link
{
	margin-top:30px;
	text-align:center;
}
#silverboats .link a
{
	font-size:48px;
	line-height:56px;
	color:#212322;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#silverboats .link a:hover
{
	text-decoration:none;
	font-size:56px;
}
#silverboats .log
{
	margin-top:50px;
	text-align:center;
}
#silverboats .log a,#silverboats .log img
{
	text-decoration:none;
	border:0px;
}
.back_link{position: absolute;text-align: left;bottom:-60px;left:40px;font-size: 16px;background: url(../../images/back_arrow.gif) 0px 8px no-repeat;padding-left:20px;z-index: 9999;}
.back_link a{color:#d23516;text-decoration: none;}
.back_link a span{color:#d23516;}
.back_link a:hover{text-decoration: underline;}
.center2{
	width:1015px;
	margin:0 auto;position: relative;
}