@media screen and (max-width: 1023px) {
    .case__main-type-client {
        flex-flow: column nowrap;
    }
}
@media screen and (max-width: 767px) {
    .case__main {
        flex-flow: column nowrap;
    }
    .case__main-task {
        max-width: 100%;
        margin-bottom: 40px;
        margin-right: 0;
    }
    .case__main-type-client {
        flex-flow: row wrap;
    }
    .case__content-index {
        margin-bottom: 170px;
    }
    .case__index-bg:before, .case__index-bg:after {
        width: 45px;
    }
    .case__index-bg:before {
        top: -176px;
    }
    .case__index-bg:after {
        bottom: -167px;
    }
    .case__index-bg {
        margin-bottom: 170px;
    }
    .case__index-title {
        font-size: 28px;
    }
}
@media screen and (max-width: 479px) {
    .case__main {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .case__main-type, .case__main-client {
        flex: 0 0 100%;
    }
}
