@font-face {
    font-family: 'PF Din Text Comp';
    src: url("./fonts/PFDinTextCompPro-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
  src: url("./fonts/GothamPro/GothamPro-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
  src: url("./fonts/GothamPro/GothamPro-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.case__welcome-bg {
    bottom: 0 !important;
}

.case__welcome-img {
    margin-top: auto;
    display: block;
}

.case__content {
    height: 153px;
    width: 100%;
  /* background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.case__content--index {
    background-image: url(./images/content/main.png);
    margin-bottom: 250px;
}

.case__index-title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'PF Din Text Comp', sans-serif;
    line-height: 42px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.case__index-bg {
    width: 100%;
  /*height: 713px;*/
    position: relative;
    margin-bottom: 250px;
}

.case__index-bg:before, .case__index-bg:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 60px;
    height: 200px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: url(./images/content/main_arrow.png) center no-repeat;
    background-size: contain;
}

.case__index-bg:before {
    top: -200px;
}

.case__index-bg:after {
    bottom: -191px;
    -webkit-transform: translate(-50%) rotate(180deg);
    transform: translate(-50%) rotate(180deg);
}

.case__content--inner {
    background-image: url(./images/content/inner.png);
    margin-bottom: 70px;
}

.case__pages-wrapper {
    position: relative;
}

.case__pages-wrapper-bg {
    position: absolute;
    top: 500px;
    left: -300px;
    right: -300px;
    height: 520px;
    width: 200%;
    -webkit-transform: rotate(-169deg);
    transform: rotate(-169deg);
    background-color: #ff161f;
}

.case__pages-wrapper-bg:after {
    content: '';
    display: block;
    height: 70px;
    margin-top: -70px;
    background-color: rgba(255, 22, 31, 0.1);
}

.case__pages {
    z-index: 1;
}

.case__pages--mobile {
    margin-top: -40px;
}

.case__pages-bg {
    position: absolute;
    left: -40px;
    right: -40px;
    bottom: -40px;
    height: 100%;
  /* width: 100%; */
    z-index: 1;
    background: transparent;
    background: linear-gradient(15deg, #fff 23%, transparent 0);
}

.case__pages--mobile .case__pages-bg {
    background: linear-gradient(15deg, #fff 40%, transparent 0);
}

.case__page {
  /*float: left;*/
}

.case__pages--mobile .case__page:nth-child(5) {
    margin-top: 70px;
}

.case__pages--mobile .case__page:nth-child(6) {
    margin-top: 140px;
}

.case__pages--mobile .case__page:nth-child(7) {
    margin-top: 210px;
}

.case__page--width1 {
    width: 41.6666%;
}

.case__page--width2 {
    width: 33.33333%;
}

.case__page--width3 {
    width: 25%;
}

.case__page-img {
    margin: -40px;
}

.grid-item {
    width: 80px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.gutter-sizer {
    width: 4.2%;
}

.grid-sizer {
    width: 8.33333%;
}

.case__content--mobile, .case__content--elems {
    background-image: url(./images/content/mobile.png);
    margin-bottom: 70px;
    text-align: left;
    background-position: left;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -70px;
    padding-left: 70px;
    z-index: 1;
    position: absolute;
    bottom: 50px;
}

.case__content--elems {
    background-image: url(./images/content/elems.png);
    position: relative;
}

.case__content--elems .case__pages-bg {
    background: linear-gradient(15deg, #fff 40%, transparent 0);
}

.case__content--mobile .case__index-title:before,
.case__content--elems .case__index-title:before {
    content: '';
    background: url(./images/content/cicrle.png) center no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 25px;
}

.case__mobile-img {
    max-width: 510px;
    width: 43vw;
}

.case__elems {
    margin-top: -70px;
}

.case__elems-title {
    color: #BCC1CC;
    font-size: 16px;
    line-height: 33px;
    position: relative;
    margin-bottom: 25px;
}

.case__elems-title:before {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    background-color: #FF161F;
    position: absolute;
    left: -70px;
    top: 14px;
}

.case__elems-fonts {
    margin-bottom: 60px;
}

.case__fonts {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.case__fonts-col-1 {
    font-family: 'PF Din Text Comp', sans-serif;
}

.case__fonts-col-2 {
    font-family: 'GothamPro', sans-serif;
}

.case-font {
    font-family: 'GothamPro', sans-serif;
    font-size: 16px;
    line-height: 33px;
    color: #BCC1CC;
    font-weight: normal;
    font-style: normal;
    -webkit-vertical-align: baseline;
    -moz-vertical-align: -moz-middle-with-baseline;
    -ms-vertical-align: baseline;
    -o-vertical-align: baseline;
    -khtml-vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
    margin-left: 23px;
}

.case-font-pfdin {
    font-family: 'PF Din Text Comp', sans-serif;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 14px;
}

.case-font-h1 {
    font-size: 120px;
    line-height: 141px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.case-font-h2 {
    font-size: 70px;
    line-height: 82px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.case-font-h3 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.case-font-gotham {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 45px;
}

.case-font-goth2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.case-font-gothp {
    font-size: 18px;
    line-height: 21px;
}

.case__colors {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -khtml-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 75px;
}

.case__color {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.case__color-round {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
    padding: 10px;
}

.case__color-round-inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.case__color-round--red {
    background-color: rgba(255, 0, 0, 0.1);
}

.case__color-round--red .case__color-round-inner {
    background-color: #FF0000;
}

.case__color-round--black {
    background-color: rgba(0, 0, 0, 0.1);
}

.case__color-round--black .case__color-round-inner {
    background-color: #000000;
}

.case__color-round--black2 {
    background-color: rgba(48, 50, 55, 0.1);
}

.case__color-round--black2 .case__color-round-inner {
    background-color: #303237;
}

.case__color-round--gray {
    background-color: rgba(214, 214, 214, 0.1);
}

.case__color-round--gray .case__color-round-inner {
    background-color: #F7F8FA;
}

.case__color-title {
    color: #BCC1CC;
    font-size: 14px;
    line-height: 25px;
    font-family: 'GothamPro', sans-serif;
    font-weight: 700;
}

.case__photos {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -khtml-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    -khtml-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.case__photo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: -10px;
    margin-bottom: 0;
}
